In [1]:
import sys
sys.path.append('../')

from wavy import *
import pandas as pd

### Load data

In [2]:
data = pd.read_pickle('processed.pkl')
data.head()

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798

                                                        ...       CSX  \
                 High        Low      Close     Volume  ...      Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...  6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...  6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...  6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...  6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...  6.419358

                                                            CI             \
                High       Low     Close     Volume       Open       High
Date
2005-12-21  6.399080  6.245725  6.362326  8358000.0  36.945102  37.462575
2005-12-22  6.420626  6.361058  6.410487  5344800.0  37.409841  37.630677
2005-12-23  6.520752  6.297691  6.468790  3630000.0  37.376876  37.432909
2005-12-27  6.527087  6.369931  6.400348  4905000.0  37.195584  37.455973
2005-12-28  6.459914  6.363592  6.419358  3578400.0  37.241735  37.449383


                  Low      Close     Volume
Date
2005-12-21  36.895658  37.370289  2805900.0
2005-12-22  37.073647  37.327442  2296800.0
2005-12-23  36.905546  37.261517  1686000.0
2005-12-27  36.961570  37.116482  1917900.0
2005-12-28  37.109892  37.251621  1248900.0

[5 rows x 2085 columns]

### DataBlock from multi level DataFrame

In [3]:
datablock = from_dataframe(data)
datablock

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
...               ...        ...        ...        ...        ...        ...
2020-11-04  36.009998  36.900002  34.630001  35.029999  2770700.0  56.130001
2020-11-05  36.000000  36.799999  35.099998  35.900002  3318600.0  58.200001
2020-11-06  36.270000  36.689999  33.750000  34.070000  3075200.0  57.889999
2020-11-09  38.349998  44.360001  38.310001  42.630001  6787600.0  60.020000
2020-11-10  42.980000  42.990002  41.380001  42.439999  2861809.0  53.619999

                                                        ...        CSX  \
                 High        Low      Close     Volume  ...       Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...   6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...   6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...   6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...   6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...   6.419358
...               ...        ...        ...        ...  ...        ...
2020-11-04  58.160000  55.580002  57.320000  1672900.0  ...  85.480003
2020-11-05  58.790001  57.580002  57.669998  1384500.0  ...  85.510002
2020-11-06  58.230000  57.200001  58.070000  2002800.0  ...  87.180000
2020-11-09  60.049999  53.720001  53.740002  3089400.0  ...  90.349998
2020-11-10  54.375000  52.990002  53.570000  3242839.0  ...  87.750000

                                                                CI  \
                 High        Low      Close     Volume        Open
Date
2005-12-21   6.399080   6.245725   6.362326  8358000.0   36.945102
2005-12-22   6.420626   6.361058   6.410487  5344800.0   37.409841
2005-12-23   6.520752   6.297691   6.468790  3630000.0   37.376876
2005-12-27   6.527087   6.369931   6.400348  4905000.0   37.195584
2005-12-28   6.459914   6.363592   6.419358  3578400.0   37.241735
...               ...        ...        ...        ...         ...
2020-11-04  87.550003  84.559998  84.830002  6449000.0  195.309998
2020-11-05  87.889999  85.000000  87.029999  6104000.0  208.500000
2020-11-06  87.690002  85.620003  86.180000  2890600.0  212.589996
2020-11-09  93.709999  88.019997  88.199997  5962900.0  215.160004
2020-11-10  91.879997  87.180000  91.400002  6167038.0  212.660004


                  High         Low       Close     Volume
Date
2005-12-21   37.462575   36.895658   37.370289  2805900.0
2005-12-22   37.630677   37.073647   37.327442  2296800.0
2005-12-23   37.432909   36.905546   37.261517  1686000.0
2005-12-27   37.455973   36.961570   37.116482  1917900.0
2005-12-28   37.449383   37.109892   37.251621  1248900.0
...                ...         ...         ...        ...
2020-11-04  212.580002  194.970001  210.619995  7051800.0
2020-11-05  217.750000  207.949997  214.160004  4441300.0
2020-11-06  212.820007  200.690002  201.470001  3648400.0
2020-11-09  217.210007  206.000000  211.199997  2686300.0
2020-11-10  221.500000  210.250000  220.199997  2787317.0

[3747 rows x 2085 columns]

### DataBlock from single level DataFrame

In [4]:
data_lnc = data.loc[:, 'LNC']
datablock_lnc = from_dataframe(data_lnc)
datablock_lnc

                asset
                 Open       High        Low      Close     Volume
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0
...               ...        ...        ...        ...        ...
2020-11-04  36.009998  36.900002  34.630001  35.029999  2770700.0
2020-11-05  36.000000  36.799999  35.099998  35.900002  3318600.0
2020-11-06  36.270000  36.689999  33.750000  34.070000  3075200.0
2020-11-09  38.349998  44.360001  38.310001  42.630001  6787600.0
2020-11-10  42.980000  42.990002  41.380001  42.439999  2861809.0

[3747 rows x 5 columns]

### Comparison between `add_level` and `new_add_level`

The old function `add_level` seems wrong, it is adding asset above Date, new function proposed.

In [5]:
level = data.loc[:, 'LNC']
level = pd.concat({'level_0': level.T}, names=['level_0']).T
level

level_0       level_0
                 Open       High        Low      Close     Volume
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0
...               ...        ...        ...        ...        ...
2020-11-04  36.009998  36.900002  34.630001  35.029999  2770700.0
2020-11-05  36.000000  36.799999  35.099998  35.900002  3318600.0
2020-11-06  36.270000  36.689999  33.750000  34.070000  3075200.0
2020-11-09  38.349998  44.360001  38.310001  42.630001  6787600.0
2020-11-10  42.980000  42.990002  41.380001  42.439999  2861809.0

[3747 rows x 5 columns]

In [6]:
new_level = data.loc[:, 'LNC']
new_level.columns = pd.MultiIndex.from_product([['level_0'], new_level.columns])
new_level

              level_0
                 Open       High        Low      Close     Volume
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0
...               ...        ...        ...        ...        ...
2020-11-04  36.009998  36.900002  34.630001  35.029999  2770700.0
2020-11-05  36.000000  36.799999  35.099998  35.900002  3318600.0
2020-11-06  36.270000  36.689999  33.750000  34.070000  3075200.0
2020-11-09  38.349998  44.360001  38.310001  42.630001  6787600.0
2020-11-10  42.980000  42.990002  41.380001  42.439999  2861809.0

[3747 rows x 5 columns]

### Function `from_dataframes`

#### From a `dict`

In [7]:
lnc = data.loc[:, 'LNC']
mas = data.loc[:, 'MAS']

dict = {'LNC': lnc, 'MAS': mas}

datablock = from_dataframes(dict)
datablock

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
...               ...        ...        ...        ...        ...        ...
2020-11-04  36.009998  36.900002  34.630001  35.029999  2770700.0  56.130001
2020-11-05  36.000000  36.799999  35.099998  35.900002  3318600.0  58.200001
2020-11-06  36.270000  36.689999  33.750000  34.070000  3075200.0  57.889999
2020-11-09  38.349998  44.360001  38.310001  42.630001  6787600.0  60.020000
2020-11-10  42.980000  42.990002  41.380001  42.439999  2861809.0  53.619999


                 High        Low      Close     Volume
Date
2005-12-21  19.154659  18.903944  19.085712  1384200.0
2005-12-22  19.298810  18.910202  18.929007  1576900.0
2005-12-23  18.954090  18.684571  18.816196  2090500.0
2005-12-27  18.991687  18.803650  18.847525  1609000.0
2005-12-28  18.935281  18.747245  18.803656  2026300.0
...               ...        ...        ...        ...
2020-11-04  58.160000  55.580002  57.320000  1672900.0
2020-11-05  58.790001  57.580002  57.669998  1384500.0
2020-11-06  58.230000  57.200001  58.070000  2002800.0
2020-11-09  60.049999  53.720001  53.740002  3089400.0
2020-11-10  54.375000  52.990002  53.570000  3242839.0

[3747 rows x 10 columns]

#### From a `data`

In [8]:
lnc = data.loc[:, 'LNC']
mas = data.loc[:, 'MAS']

datablock = from_dataframes([lnc, mas])
datablock

              asset_0                                                asset_1  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
...               ...        ...        ...        ...        ...        ...
2020-11-04  36.009998  36.900002  34.630001  35.029999  2770700.0  56.130001
2020-11-05  36.000000  36.799999  35.099998  35.900002  3318600.0  58.200001
2020-11-06  36.270000  36.689999  33.750000  34.070000  3075200.0  57.889999
2020-11-09  38.349998  44.360001  38.310001  42.630001  6787600.0  60.020000
2020-11-10  42.980000  42.990002  41.380001  42.439999  2861809.0  53.619999


                 High        Low      Close     Volume
Date
2005-12-21  19.154659  18.903944  19.085712  1384200.0
2005-12-22  19.298810  18.910202  18.929007  1576900.0
2005-12-23  18.954090  18.684571  18.816196  2090500.0
2005-12-27  18.991687  18.803650  18.847525  1609000.0
2005-12-28  18.935281  18.747245  18.803656  2026300.0
...               ...        ...        ...        ...
2020-11-04  58.160000  55.580002  57.320000  1672900.0
2020-11-05  58.790001  57.580002  57.669998  1384500.0
2020-11-06  58.230000  57.200001  58.070000  2002800.0
2020-11-09  60.049999  53.720001  53.740002  3089400.0
2020-11-10  54.375000  52.990002  53.570000  3242839.0

[3747 rows x 10 columns]

#### From `data`, `assets`

In [9]:
lnc = data.loc[:, 'LNC']
mas = data.loc[:, 'MAS']

datablock = from_dataframes([lnc, mas], ['LNC', 'MAS'])
datablock

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
...               ...        ...        ...        ...        ...        ...
2020-11-04  36.009998  36.900002  34.630001  35.029999  2770700.0  56.130001
2020-11-05  36.000000  36.799999  35.099998  35.900002  3318600.0  58.200001
2020-11-06  36.270000  36.689999  33.750000  34.070000  3075200.0  57.889999
2020-11-09  38.349998  44.360001  38.310001  42.630001  6787600.0  60.020000
2020-11-10  42.980000  42.990002  41.380001  42.439999  2861809.0  53.619999


                 High        Low      Close     Volume
Date
2005-12-21  19.154659  18.903944  19.085712  1384200.0
2005-12-22  19.298810  18.910202  18.929007  1576900.0
2005-12-23  18.954090  18.684571  18.816196  2090500.0
2005-12-27  18.991687  18.803650  18.847525  1609000.0
2005-12-28  18.935281  18.747245  18.803656  2026300.0
...               ...        ...        ...        ...
2020-11-04  58.160000  55.580002  57.320000  1672900.0
2020-11-05  58.790001  57.580002  57.669998  1384500.0
2020-11-06  58.230000  57.200001  58.070000  2002800.0
2020-11-09  60.049999  53.720001  53.740002  3089400.0
2020-11-10  54.375000  52.990002  53.570000  3242839.0

[3747 rows x 10 columns]

### Try `from_dataframes` with multilevel

In [10]:
lnc = data.loc[:, 'LNC']
lnc.columns = pd.MultiIndex.from_product([['level_0'], lnc.columns])
mas = data.loc[:, 'MAS']

datablock = from_dataframes([lnc, mas], ['LNC', 'MAS'])
datablock

AssertionError: Data cannot be multilevel

### Try `from_dataframes` with not a DataFrame

In [11]:
lnc = data.loc[:, 'LNC']

datablock = from_dataframes([lnc, 1], ['LNC', 'MAS'])
datablock

AssertionError: Data must be a DataFrame

### Try `from_dataframes` with different number of channels

In [12]:
lnc = data.loc[:, 'LNC'].copy()
lnc.drop('Volume', axis=1, inplace=True)
mas = data.loc[:, 'MAS']

datablock = from_dataframes([lnc, mas], ['LNC', 'MAS'])
datablock

AssertionError: Data with different number of channels

In [ ]:
# Pandas frozen list problem

a = data[['LNC']]
a.columns[0]

In [ ]:
data.columns.levels[1]

In [ ]:
data.rename(columns={'LNC': 'Paste'}, inplace=True)

In [ ]:
data

In [ ]:
paste = data['Paste']
mas = data['MAS']

In [ ]:
a = from_dataframes([paste, mas], [])

In [ ]:
a

In [ ]:
b = datablock.MAS.Open

In [ ]:
type(b)

In [ ]:
b

In [ ]:
data.head().equals(data.tail())

In [ ]:
datablock.head().equals(datablock.head().copy())

In [ ]:
datablock.head() == datablock.head()

In [ ]:
data.head() == data.head()

In [ ]:
data.head().equals(data.head())

In [ ]:
datablock.start

In [ ]:
datablock.assets

In [ ]:
datablock.channels

In [ ]:
datablock

In [ ]:
datablock = datablock.filter(assets=['LNC', 'CSX'], channels=['Open', 'High'])

In [ ]:
datablock.columns

In [ ]:
import numpy as np
data.apply(np.sum, axis=0)

In [ ]:
a = datablock.apply(np.sum, axis=1)

a.countna()

In [ ]:
b = a.pandas()

In [ ]:
b

In [ ]:
datablock

In [ ]:
datablock2 = from_array()
[3747, 2, 2]

LNC [a x b]
CSX [a x b]
[[a x b], [a x b]], index=[a x 1], assets=[2,]

In [ ]:
datablock.values.shape

In [ ]:
datablock.numpy().shape

In [ ]:
datablock.pandas