### Imports

In [1]:
import sys
sys.path.append('../')

from wavy import *
import pandas as pd

### Load data

In [2]:
data_pd = pd.read_pickle('processed.pkl')
data_pd = data_pd.iloc[0:2,:]
data_pd = data_pd.loc[:, (['MSFT', 'AAPL'], ['Open', 'Close'])]
data_pd

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

### DataBlock from single level DataFrame

In [3]:
data = data_pd.loc[:, 'AAPL']
data

                Open     Close
Date
2005-12-21  2.218566  2.246069
2005-12-22  2.258598  2.261960

In [4]:
datablock = from_dataframe(data, 'AAPL')
datablock

                AAPL
                Open     Close
Date
2005-12-21  2.218566  2.246069
2005-12-22  2.258598  2.261960

In [5]:
type(datablock)

wavy.block.TimeBlock

### DataBlock from multi level DataFrame

In [6]:
datablock = from_dataframe(data_pd)
datablock

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

### Filter dataset

In [7]:
datablock

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [8]:
datablock.filter(assets=['AAPL'], channels=['Open'])

                AAPL
                Open
Date
2005-12-21  2.218566
2005-12-22  2.258598

### Comparison between `add_level` and `new_add_level`

The old function `add_level` seems wrong, it is adding asset above Date, new function proposed.

In [9]:
level = data.loc[:, 'AAPL']
level = pd.concat({'level_0': level.T}, names=['level_0']).T
level

level_0      level_0
                Open     Close
Date
2005-12-21  2.218566  2.246069
2005-12-22  2.258598  2.261960

In [10]:
new_level = data.loc[:, 'AAPL']
new_level.columns = pd.MultiIndex.from_product([['level_0'], new_level.columns])
new_level

             level_0
                Open     Close
Date
2005-12-21  2.218566  2.246069
2005-12-22  2.258598  2.261960

### Rename assets

In [11]:
datablock
dict = {'AAPL': 'Apple', 'MSFT': 'Microsoft'}
datablock.rename_assets(dict)

            Microsoft                Apple
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

### Rename channels

In [12]:
datablock
dict = {'Open': 'Op', 'Close': 'Cl'}
datablock.rename_channels(dict)

                 MSFT                 AAPL
                   Op         Cl        Op        Cl
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

### Function apply

In [13]:
datablock

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [14]:
datablock.apply(np.max, axis=1)

                 MSFT      AAPL
                 amax      amax
Date
2005-12-21  19.577126  2.246069
2005-12-22  19.460543  2.261960

### Function `swap_cols`

In [15]:
datablock

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [16]:
datablock.swap_cols()

                Close                 Open
                 MSFT      AAPL       MSFT      AAPL
Date
2005-12-21  19.475122  2.246069  19.577126  2.218566
2005-12-22  19.373114  2.261960  19.460543  2.258598

### Function `sort_assets`

In [17]:
datablock

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [18]:
datablock.sort_assets()

                AAPL                 MSFT
                Open     Close       Open      Close
Date
2005-12-21  2.218566  2.246069  19.577126  19.475122
2005-12-22  2.258598  2.261960  19.460543  19.373114

### Function `sort_channels`

In [19]:
datablock

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [20]:
datablock.sort_channels()

                 MSFT                 AAPL
                Close       Open     Close      Open
Date
2005-12-21  19.475122  19.577126  2.246069  2.218566
2005-12-22  19.373114  19.460543  2.261960  2.258598

### Function `countna`

In [ ]:
datablock

In [ ]:
datablock.matrix[0][2] = np.nan
datablock.matrix[1][1] = np.nan
datablock

In [ ]:
datablock.countna('asset')

In [ ]:
datablock.countna('channel')

### Function `split_assets`

In [ ]:
datablock

In [ ]:
datablock.split_assets()

### Function `from_dataframes`

#### From a `dict`

In [ ]:
AAPL = data_pd.loc[:, 'AAPL']
MSFT = data_pd.loc[:, 'MSFT']

dict = {'AAPL': AAPL, 'MSFT': MSFT}
dict

In [ ]:
from_dictionary(dict)

#### From a `data`

In [ ]:
aapl = data_pd.loc[:, 'AAPL']
aapl

In [ ]:
msft = data_pd.loc[:, 'MSFT']
msft

In [ ]:
from_dataframes([aapl, msft])

#### From `data`, `assets`

In [ ]:
aapl = data_pd.loc[:, 'AAPL']
aapl

In [ ]:
msft = data_pd.loc[:, 'MSFT']
msft

In [ ]:
from_dataframes([aapl, msft], ['AAPL', 'MSFT'])

### Try `from_dataframes` with multilevel

In [ ]:
AAPL = data_pd.loc[:, 'AAPL']
AAPL.columns = pd.MultiIndex.from_product([['level_0'], AAPL.columns])
MSFT = data_pd.loc[:, 'MSFT']

try:
    datablock = from_dataframes([AAPL, MSFT], ['AAPL', 'MSFT'])
except Exception as e:
    print(e)

### Try `from_dataframes` with not a DataFrame

In [ ]:
AAPL = data_pd.loc[:, 'AAPL']

try:
    datablock = from_dataframes([AAPL, 1], ['AAPL', 'MSFT'])
except Exception as e:
    print(e)

### Try `from_dataframes` with different number of channels

In [ ]:
AAPL = data_pd.loc[:, 'AAPL'].copy()
AAPL.drop('Close', axis=1, inplace=True)
MSFT = data_pd.loc[:, 'MSFT']

try:
    datablock = from_dataframes([AAPL, MSFT], ['AAPL', 'MSFT'])
except Exception as e:
    print(e)

### Error using DataFrame instead of DataBlock

In [ ]:
simp_data = data_pd.iloc[:, 0:4]
print(id(data_pd))
print(id(simp_data))
assets = simp_data.columns.levels[0]
assets

In [ ]:
simp_datablock = datablock.iloc[:, 0:4]
print(id(data))
print(id(simp_datablock))
assets = simp_datablock.columns.levels[0]
assets

### Function `from_matrix`

In [ ]:
values = datablock.values
index = datablock.index
assets = datablock.columns.levels[0]
channels = datablock.columns.levels[1]

In [ ]:
values

In [ ]:
index

In [ ]:
assets

In [ ]:
from_matrix(values, index=index, assets=assets, channels=channels)

### Function `from_tensor`

In [ ]:
simp_datablock = datablock.iloc[:, 0:10]
index = simp_datablock.index
assets = simp_datablock.columns.levels[0]
channels = simp_datablock.columns.levels[1]
values = np.array([simp_datablock.iloc[:, i*2:i*2+2].values for i in range(2)])

In [ ]:
values

In [ ]:
index

In [ ]:
assets

In [ ]:
from_tensor(values, index=index, assets=assets, channels=channels)

### Function as_dataframe

In [ ]:
type(datablock)

In [ ]:
type(datablock.pandas())

# Properties
### matrix

In [ ]:
datablock

In [ ]:
datablock.matrix

### tensor

In [ ]:
datablock

In [ ]:
datablock.tensor
values = np.sum(datablock.tensor, axis=(3, 2, 1))
values = pd.Series(values).isna()

### Channels

In [ ]:
datablock.channels

### Assets

In [ ]:
datablock.assets

In [ ]:
datablock.start

In [ ]:
datablock.end

In [ ]:
data.rename(columns={'AAPL': 'Paste'}, inplace=True)

In [ ]:
data

In [ ]:
paste = data['Paste']
MSFT = data['MSFT']

In [ ]:
a = from_dataframes([paste, MSFT], [])

In [ ]:
a

In [ ]:
b = datablock.MSFT.Open

In [ ]:
type(b)

In [ ]:
b

In [ ]:
data.head().equals(data.tail())

In [ ]:
datablock.head().equals(datablock.head().copy())

In [ ]:
datablock.head() == datablock.head()

In [ ]:
data.head() == data.head()

In [ ]:
data.head().equals(data.head())

In [ ]:
datablock.start

In [ ]:
datablock.assets

In [ ]:
datablock.channels

In [ ]:
datablock

In [ ]:
datablock = datablock.filter(assets=['AAPL', 'CSX'], channels=['Open', 'High'])

In [ ]:
datablock.columns

In [ ]:
import numpy as np
data.apply(np.sum, axis=0)

In [ ]:
a = datablock.apply(np.sum, axis=1)

a.countna()

In [ ]:
b = a.pandas()

In [ ]:
b

In [ ]:
datablock

In [ ]:
datablock2 = from_matrix()
[3747, 2, 2]

AAPL [a x b]
CSX [a x b]
[[a x b], [a x b]], index=[a x 1], assets=[2,]

In [ ]:
datablock.values.shape

In [ ]:
datablock.numpy().shape

In [ ]:
datablock.pandas