In [1]:
import sys
sys.path.append('../')

%load_ext autoreload
%autoreload 2

In [2]:
# Import the necessary modules
import yfinance as yf
import wavy
import pandas as pd
import numpy as np

# Load pickle file
hist = pd.read_pickle('../data/intraday_stocks.pkl')

hist.head()

/Users/ibiscp/GitHub/logspace/wavy/.venv/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

                     vale3                                       \
                    symbol  price   open   high    low previous
timeTrade
2012-01-02 09:28:00    NaN    NaN    NaN    NaN    NaN      NaN
2012-01-02 10:19:00    NaN    NaN    NaN    NaN    NaN      NaN
2012-01-02 11:03:00    NaN    NaN    NaN    NaN    NaN      NaN
2012-01-02 11:04:00    NaN    NaN    NaN    NaN    NaN      NaN
2012-01-02 11:05:00  vale3  26.86  26.74  26.86  26.74    26.53

                                                                 petr4  ...  \
                    quantityTrades volumeAmount volumeFinancier symbol  ...
timeTrade                                                               ...
2012-01-02 09:28:00            NaN          NaN             NaN    NaN  ...
2012-01-02 10:19:00            NaN          NaN             NaN    NaN  ...
2012-01-02 11:03:00            NaN          NaN             NaN    NaN  ...
2012-01-02 11:04:00            NaN          NaN             NaN  petr4  ...
2012-01-02 11:05:00           29.0      45400.0       1805948.0  petr4  ...

                              prio3  b3sa3                                   \
                    volumeFinancier symbol price  open  high   low previous
timeTrade
2012-01-02 09:28:00             NaN    NaN   NaN   NaN   NaN   NaN      NaN
2012-01-02 10:19:00             NaN    NaN   NaN   NaN   NaN   NaN      NaN
2012-01-02 11:03:00             NaN  b3sa3  7.22  7.22  7.24  7.22     7.26
2012-01-02 11:04:00             NaN  b3sa3  7.26  7.24  7.26  7.24     7.22
2012-01-02 11:05:00             NaN  b3sa3  7.26  7.26  7.26  7.26     7.26


                    quantityTrades volumeAmount volumeFinancier
timeTrade
2012-01-02 09:28:00            NaN          NaN             NaN
2012-01-02 10:19:00            NaN          NaN             NaN
2012-01-02 11:03:00           49.0     412700.0       4023901.0
2012-01-02 11:04:00           12.0       4400.0         43022.0
2012-01-02 11:05:00            2.0        200.0          1960.0

[5 rows x 45 columns]

In [3]:
# Select the interest columns
hist = hist[['petr4']]

hist.columns = hist.columns.droplevel()

In [4]:
# Select the interest columns
hist = hist[['price', 'open', 'high', 'low', 'quantityTrades', 'volumeAmount', 'volumeFinancier']]

# Plot the data
# hist.plot()

# Drop rows with NaN
hist.dropna(inplace=True)

hist.head()

,price,open,high,low,quantityTrades,volumeAmount,volumeFinancier
timeTrade,,,,,,,
2012-01-02 11:04:00,17.97,18.01,18.03,17.97,89.0,245300.0,5276453.0
2012-01-02 11:05:00,18.00,17.99,18.01,17.98,15.0,36000.0,773995.0
2012-01-02 11:06:00,18.01,18.00,18.03,18.00,63.0,35800.0,770228.0
2012-01-02 11:07:00,18.04,18.02,18.04,18.01,57.0,54900.0,1181642.0
2012-01-02 11:08:00,18.09,18.03,18.09,18.03,109.0,131900.0,2846212.0

In [5]:
hist.shape

(1015428, 7)

In [6]:
# filter index by date
hist.loc['2012-01-02']

,price,open,high,low,quantityTrades,volumeAmount,volumeFinancier
timeTrade,,,,,,,
2012-01-02 11:04:00,17.97,18.01,18.03,17.97,89.0,245300.0,5276453.0
2012-01-02 11:05:00,18.00,17.99,18.01,17.98,15.0,36000.0,773995.0
2012-01-02 11:06:00,18.01,18.00,18.03,18.00,63.0,35800.0,770228.0
2012-01-02 11:07:00,18.04,18.02,18.04,18.01,57.0,54900.0,1181642.0
2012-01-02 11:08:00,18.09,18.03,18.09,18.03,109.0,131900.0,2846212.0
...,...,...,...,...,...,...,...
2012-01-02 19:24:00,18.24,18.24,18.24,18.24,3.0,800.0,17432.0
2012-01-02 19:25:00,18.24,18.24,18.24,18.24,3.0,1300.0,28327.0
2012-01-02 19:26:00,18.23,18.23,18.23,18.23,3.0,4000.0,87120.0
2012-01-02 19:27:00,18.21,18.23,18.23,18.21,11.0,20000.0,435206.0
2012-01-02 19:29:00,18.24,18.23,18.24,18.23,5.0,2400.0,52286.0

In [ ]:
hist = hist.resample('D').agg({'price': 'mean', 'open': 'first', 'high': 'max', 'low': 'min', 'quantityTrades': 'sum', 'volumeAmount': 'sum', 'volumeFinancier':'sum'})

In [ ]:
# hist.shape[0]/a.shape[0]

In [7]:
hist.head()

,price,open,high,low,quantityTrades,volumeAmount,volumeFinancier
timeTrade,,,,,,,
2012-01-02 11:04:00,17.97,18.01,18.03,17.97,89.0,245300.0,5276453.0
2012-01-02 11:05:00,18.00,17.99,18.01,17.98,15.0,36000.0,773995.0
2012-01-02 11:06:00,18.01,18.00,18.03,18.00,63.0,35800.0,770228.0
2012-01-02 11:07:00,18.04,18.02,18.04,18.01,57.0,54900.0,1181642.0
2012-01-02 11:08:00,18.09,18.03,18.09,18.03,109.0,131900.0,2846212.0

In [8]:
hist['price_change'] = hist.price.pct_change()
hist['open_change'] = hist.open.pct_change()
hist['high_change'] = hist.high.pct_change()
hist['low_change'] = hist.low.pct_change()
hist['quantityTrades_change'] = hist.quantityTrades.pct_change()
hist['volumeAmount_change'] = hist.volumeAmount.pct_change()
hist['volumeFinancier_change'] = hist.volumeFinancier.pct_change()

In [9]:
# Select the interest columns
hist = hist[['price', 'price_change', 'open_change', 'high_change', 'low_change', 'quantityTrades_change', 'volumeAmount_change', 'volumeFinancier_change']]

In [10]:
hist.head()

,price,price_change,open_change,high_change,low_change,quantityTrades_change,volumeAmount_change,volumeFinancier_change
timeTrade,,,,,,,,
2012-01-02 11:04:00,17.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-02 11:05:00,18.00,0.001669,-0.001110,-0.001109,0.000556,-0.831461,-0.853241,-0.853311
2012-01-02 11:06:00,18.01,0.000556,0.000556,0.001110,0.001112,3.200000,-0.005556,-0.004867
2012-01-02 11:07:00,18.04,0.001666,0.001111,0.000555,0.000556,-0.095238,0.533520,0.534146
2012-01-02 11:08:00,18.09,0.002772,0.000555,0.002772,0.001110,0.912281,1.402550,1.408692

In [11]:
# Calculate percent change
# hist = hist.pct_change()

# Drop rows with NaN
hist.replace([np.inf, -np.inf], np.nan, inplace=True)
hist.dropna(inplace=True)

In [12]:
hist.head()

,price,price_change,open_change,high_change,low_change,quantityTrades_change,volumeAmount_change,volumeFinancier_change
timeTrade,,,,,,,,
2012-01-02 11:05:00,18.00,0.001669,-0.001110,-0.001109,0.000556,-0.831461,-0.853241,-0.853311
2012-01-02 11:06:00,18.01,0.000556,0.000556,0.001110,0.001112,3.200000,-0.005556,-0.004867
2012-01-02 11:07:00,18.04,0.001666,0.001111,0.000555,0.000556,-0.095238,0.533520,0.534146
2012-01-02 11:08:00,18.09,0.002772,0.000555,0.002772,0.001110,0.912281,1.402550,1.408692
2012-01-02 11:09:00,18.08,-0.000553,0.002219,-0.000553,0.002219,-0.247706,-0.615618,-0.615395

In [13]:
# Create panels
x, y = wavy.create_panels(hist, lookback=30, gap=0, horizon=30)
# x, y = wavy.create_panels(hist, lookback=30*300, gap=0, horizon=30*300)

# # y will be the Close price of the next day
# y = y[['Close']]

# # Convert y to boolean
# y = (y['Close'] > 0) + 0

In [14]:
x.shape

(1015368, 30, 8)

In [15]:
y = y[['price']]

In [ ]:
y.max()

In [ ]:
y[0]

In [ ]:
y = y.max()

In [ ]:
x.iloc[-1]

In [ ]:
y_bool = y >

In [ ]:
x.plot()

In [ ]:
y[0]

In [ ]:
y.plot()

In [ ]:
print(f"x shape: {x.shape}")
print(f"y shape: {y.shape}")

# Models

In [ ]:
baselineshift = wavy.BaselineShift(x, y, model_type='regression')
baselineshift.fit()
baselineshift.score(on='val')

In [ ]:

baselineconstant = wavy.BaselineConstant(x, y, model_type='regression')
baselineconstant.fit()
baselineconstant.score(on='val')

In [ ]:
densemodel = wavy.DenseModel(x, y, model_type='regression')
densemodel.fit()
densemodel.score(on='val')

In [ ]:
convmodel = wavy.ConvModel(x, y, model_type='regression')
convmodel.fit()
convmodel.score(on='val')

In [ ]:
linearregression = wavy.LinearRegression(x, y)
linearregression.fit()
linearregression.score(on='val')

In [ ]:
baselineconstant.x_train.shape

In [ ]:
baselineconstant.y_train.shape

In [ ]:
# Create model
densemodel = wavy.DenseModel(x, y, model_type="regression")

In [ ]:
# Fit model
densemodel.fit()

# Score
densemodel.score(on='val')

In [ ]:
# Predict
predicted = densemodel.predict(data=x.val)
predicted

In [ ]:
predicted[0]

In [ ]:
y = y[['Close']]

In [ ]:
a = (y['Close'] > 0) + 0

In [ ]:
a = y['Close'] > 0

In [ ]:
densemodel = wavy.DenseModel(x, a, model_type="classification")

In [ ]:
densemodel.y[0]

In [ ]:
densemodel.fit()

In [ ]:
b = densemodel.predict(data=x.val)

In [ ]:
b[0]

In [ ]:
densemodel.score(on='val')

In [ ]:
c

In [ ]:
densemodel.y_test.squeeze()

In [ ]:
threshold = densemodel.get_roc()

In [ ]:
threshold

In [ ]:
y_test = a.test.values.squeeze()
predictions = densemodel.predict(data=x.test).values.squeeze()

In [ ]:
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import roc_auc_score
import numpy as np
import matplotlib.pyplot as plt
def plot_roc_curve(fpr, tpr):
    plt.plot(fpr, tpr, color='orange', label='ROC')
    plt.plot([0, 1], [0, 1], color='darkblue', linestyle='--')
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver Operating Characteristic (ROC) Curve')
    plt.legend()
    plt.show()
# Computing manually fpr, tpr, thresholds and roc auc 
fpr, tpr, thresholds = roc_curve(y_test, predictions)
roc_auc = auc(fpr, tpr)
print("ROC_AUC Score : ",roc_auc)
print("Function for ROC_AUC Score : ",roc_auc_score(y_test, predictions)) # Function present
optimal_idx = np.argmax(tpr - fpr)
optimal_threshold = thresholds[optimal_idx]
print("Threshold value is:", optimal_threshold)
plot_roc_curve(fpr, tpr)

In [ ]:
b[0]

In [ ]:
y[0]

In [ ]:
a[0]

In [ ]:
a = densemodel.score()

In [ ]:
a

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf

from sklearn.dummy import DummyRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

import wavy

In [ ]:
tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0].Symbol

In [ ]:
tickers

In [ ]:
msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data from 2005 on
hist = msft.history(period="max", start="2005-01-01")

In [ ]:
hist.head(10)

In [ ]:
hist[['Open', 'High', 'Low', 'Close']].plot()

In [ ]:
hist.Dividends.plot()

In [ ]:
hist['Stock Splits'].plot()

In [ ]:
hist = hist[['Open', 'High', 'Low', 'Close']]

In [ ]:
hist = hist.pct_change()

In [ ]:
hist.Close.plot()

In [ ]:
print(len(hist) - len(hist.dropna()))
hist.dropna(inplace=True)

In [ ]:
hist.High.hist(bins=200)

In [ ]:
x, y = wavy.create_panels(hist, lookback=5, gap=0, horizon=1)

In [ ]:
x[0]

In [ ]:
x.plot()

In [ ]:
y[0]

In [ ]:
# predict only the highest price
y = y[['Close']]

In [ ]:
a = y[['Close']] > 0

In [ ]:
y[1]

In [ ]:
y[0]

In [ ]:
# try single col inputs first
x_high = x[['High']]

In [ ]:
# constant = wavy.ConstantModel(x_high, y, model_type="regression")
# constant.fit()

In [ ]:
densemodel = wavy.DenseModel(x, y, model_type="classification")

In [ ]:
baseline = wavy.BaselineModel(x_high, y, model_type="regression")
baseline.fit() # val_MAE: 0.0136

In [ ]:
# How to interpret that error? What does it mean comparing to the mean/std of the val set?
np.median(baseline.y_val.flatten())

In [ ]:
lr = wavy.LinearRegression(x_high, y)
lr.fit(epochs=20)

In [ ]:
y.test[0]

In [ ]:
y.test[1]

In [ ]:
baseline.x_test.shape

In [ ]:
from copy import deepcopy

def update(panel, other):
    panel = deepcopy(panel)

    for i, j in zip(panel, other):
        i.iloc[:,:] = j
    return panel

In [ ]:
y.test.shape

In [ ]:
a = update(y.test[1:], baseline.predict())

In [ ]:
a[0]

In [ ]:
y.test[1]

In [ ]:
copy(y.test)

In [ ]:
b = baseline.predict()

In [ ]:
b[0]

In [ ]:
dense = wavy.DenseModel(x_high, y, model_type="regression")
dense.fit(epochs=20)

In [ ]:
conv = wavy.ConvModel(x_high, y, model_type="regression")
conv.fit(epochs=20)

# using a cannon ball to kill an ant!

In [ ]:
dummy = wavy.ShallowModel(x_high, y, model=DummyRegressor, metrics=[mean_absolute_error], strategy="mean")
dummy.fit()

In [ ]:
rf = wavy.ShallowModel(x, y, model=RandomForestRegressor, metrics=[mean_absolute_error], n_estimators=50)
rf.fit()

In [ ]:
dense = wavy.DenseModel(x, y, model_type="regression")
dense.fit(epochs=20)

In [ ]:
# Try the same models but with all input columns
# TODO: Use function to compute default results per model

# lr = wavy.LinearRegression(x, y)
# lr.fit(epochs=20)