In [1]:
from datetime import datetime
import numpy as np
import pandas as pd
import tensorflow as tf

import sys
sys.path.append('../')

from wavy import panel
from wavy import side
from wavy import block
from wavy import model
from wavy import plot

In [2]:
dir(pd.DataFrame)

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [3]:
df = pd.read_pickle('../data/processed.pkl')

In [4]:
df.head(5)

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798

                                                        ...       CSX  \
                 High        Low      Close     Volume  ...      Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...  6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...  6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...  6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...  6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...  6.419358

                                                            CI             \
                High       Low     Close     Volume       Open       High
Date
2005-12-21  6.399080  6.245725  6.362326  8358000.0  36.945102  37.462575
2005-12-22  6.420626  6.361058  6.410487  5344800.0  37.409841  37.630677
2005-12-23  6.520752  6.297691  6.468790  3630000.0  37.376876  37.432909
2005-12-27  6.527087  6.369931  6.400348  4905000.0  37.195584  37.455973
2005-12-28  6.459914  6.363592  6.419358  3578400.0  37.241735  37.449383


                  Low      Close     Volume
Date
2005-12-21  36.895658  37.370289  2805900.0
2005-12-22  37.073647  37.327442  2296800.0
2005-12-23  36.905546  37.261517  1686000.0
2005-12-27  36.961570  37.116482  1917900.0
2005-12-28  37.109892  37.251621  1248900.0

[5 rows x 2085 columns]

In [5]:
block.Block.__dict__

mappingproxy({'__module__': 'wavy.block',
              '__init__': <function wavy.block.Block.__init__(self, df, *args, **kwargs)>,
              '_check_method': <function wavy.block.Block._check_method(self, method)>,
              '_constructor': <property at 0x130cf5c20>,
              '_constructor_sliced': <property at 0x130cfe220>,
              'start': <property at 0x130cfe270>,
              'end': <property at 0x130cfe2c0>,
              'assets': <property at 0x130cfe310>,
              'channels': <property at 0x130cfe360>,
              'timesteps': <property at 0x130cfe3b0>,
              'tensor': <property at 0x130cfe400>,
              'matrix': <property at 0x130cfe450>,
              'filter': <function wavy.block.Block.filter(self, assets: List[str] = None, channels: List[str] = None)>,
              '_filter_assets': <function wavy.block.Block._filter_assets(self, assets)>,
              '_filter_channels': <function wavy.block.Block._filter_channels(self, channels)>,
              'drop': <function wavy.block.Block.drop(self, assets: List[str] = None, channels: List[str] = None)>,
              '_drop_assets': <function wavy.block.Block._drop_assets(self, assets)>,
              '_drop_channels': <function wavy.block.Block._drop_channels(self, channels)>,
              'rename_assets': <function wavy.block.Block.rename_assets(self, dict: dict)>,
              'rename_channels': <function wavy.block.Block.rename_channels(self, dict: dict)>,
              'wapply': <function wavy.block.Block.wapply(self, func, on: str = 'timestamps')>,
              '_timestamp_apply': <function wavy.block.Block._timestamp_apply(self, func)>,
              '_channel_apply': <function wavy.block.Block._channel_apply(self, func)>,
              'update': <function wavy.block.Block.update(self, values=None, index: List = None, assets: List = None, channels: List = None)>,
              'split_assets': <function wavy.block.Block.split_assets(self)>,
              'sort_assets': <function wavy.block.Block.sort_assets(self, order: List[str] = None)>,
              'sort_channels': <function wavy.block.Block.sort_channels(self, order: List[str] = None)>,
              'swap_cols': <function wavy.block.Block.swap_cols(self)>,
              'smash': <function wavy.block.Block.smash(self, sep: str = '_')>,
              'countna': <function wavy.block.Block.countna(self, type: str = 'asset')>,
              'as_dataframe': <function wavy.block.Block.as_dataframe(self)>,
              'wfillna': <function wavy.block.Block.wfillna(self, value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)>,
              'wcount': <function wavy.block.Block.wcount(self, axis: int = 0, numeric_only: bool = False)>,
              'wkurt': <function wavy.block.Block.wkurt(self, axis: int = None, skipna: bool = None, numeric_only=None, **kwargs)>,
              'wkurtosis': <function wavy.block.Block.wkurtosis(self, axis: int = None, skipna: bool = None, numeric_only=None, **kwargs)>,
              'wmad': <function wavy.block.Block.wmad(self, axis: int = None, skipna: bool = None)>,
              'wmax': <function wavy.block.Block.wmax(self, axis: int = None, skipna: bool = None, numeric_only=None, **kwargs)>,
              'wmean': <function wavy.block.Block.wmean(self, axis: int = None, skipna: bool = None, numeric_only=None, **kwargs)>,
              'wmedian': <function wavy.block.Block.wmedian(self, axis: int = None, skipna: bool = None, numeric_only=None, **kwargs)>,
              'wmin': <function wavy.block.Block.wmin(self, axis: int = None, skipna: bool = None, numeric_only=None, **kwargs)>,
              'wnunique': <function wavy.block.Block.wnunique(self, axis: int = None, dropna: bool = None)>,
              'wprod': <function wavy.block.Block.wprod(self, axis: int = None, skipna: bool = None, numeric_only=None, min_count: int = 0, **kwargs)>,
              'wproduct': <function wavy.block.Block.wproduct(self, axis: int = None, skipna: bool = None, numeric_only=None, min_count: int = 0, **kwargs)>,
              'wquantile': <function wavy.block.Block.wquantile(self, q: Union[float, List[float]] = 0.5, interpolation: str = 'linear')>,
              'wsem': <function wavy.block.Block.wsem(self, axis: int = None, skipna: bool = None, ddof: int = 1, numeric_only=None, **kwargs)>,
              'wskew': <function wavy.block.Block.wskew(self, axis: int = None, skipna: bool = None, numeric_only=None, **kwargs)>,
              'wstd': <function wavy.block.Block.wstd(self, axis: int = None, skipna: bool = None, ddof: int = 1, numeric_only=None, **kwargs)>,
              'wsum': <function wavy.block.Block.wsum(self, axis: int = None, skipna: bool = None, numeric_only=None, min_count: int = 0, **kwargs)>,
              'wvar': <function wavy.block.Block.wvar(self, axis: int = None, skipna: bool = None, ddof: int = 1, numeric_only=None, **kwargs)>,
              'plot': <function wavy.block.Block.plot(self, assets: List[str] = None, channels: List[str] = None)>,
              '__doc__': None})

In [6]:
panel_ = panel.from_data(df, lookback = 2, horizon = 1, gap = 0, assets = ['AAPL', 'MSFT'], channels= ['Open', 'Close'])

In [7]:
block = panel_.x[0]

In [8]:
block

                AAPL                 MSFT
                Open     Close       Open      Close
Date
2005-12-21  2.218566  2.246069  19.577126  19.475122
2005-12-22  2.258598  2.261960  19.460543  19.373114

In [9]:
block.wcount()

           AAPL       MSFT
           Open Close Open Close
2005-12-21    2     2    2     2

In [10]:
block.wcount(axis=1)

           asset
           count
Date
2005-12-21     4
2005-12-22     4

In [11]:
block.wkurt(axis=0)

           AAPL       MSFT
           Open Close Open Close
2005-12-21  NaN   NaN  NaN   NaN

In [12]:
block.wkurt(axis=1)

              asset
               kurt
Date
2005-12-21 -5.99944
2005-12-22 -5.99961

In [13]:
block.wkurtosis(axis=0)

           AAPL       MSFT
           Open Close Open Close
2005-12-21  NaN   NaN  NaN   NaN

In [14]:
block.wkurtosis(axis=1)

              asset
           kurtosis
Date
2005-12-21 -5.99944
2005-12-22 -5.99961

In [15]:
block.wmad(axis=0)

                AAPL                MSFT
                Open     Close      Open     Close
2005-12-21  0.020016  0.007946  0.058291  0.051004

In [16]:
block.wmad(axis=1)

               asset
                 mad
Date
2005-12-21  8.646903
2005-12-22  8.578275

In [17]:
block.wmax(axis=0)

                AAPL                MSFT
                Open    Close       Open      Close
2005-12-21  2.258598  2.26196  19.577126  19.475122

In [18]:
block.wmax(axis=1)

                asset
                  max
Date
2005-12-21  19.577126
2005-12-22  19.460543

In [19]:
block.wmin(axis=0)

                AAPL                 MSFT
                Open     Close       Open      Close
2005-12-21  2.218566  2.246069  19.460543  19.373114

In [20]:
block.wmean()

                AAPL                 MSFT
                Open     Close       Open      Close
2005-12-21  2.238582  2.254014  19.518834  19.424118

In [21]:
block.wmedian()

                AAPL                 MSFT
                Open     Close       Open      Close
2005-12-21  2.238582  2.254014  19.518834  19.424118

In [22]:
block.wnunique(axis=0)

           AAPL       MSFT
           Open Close Open Close
2005-12-21    2     2    2     2

In [23]:
block.wprod()

                AAPL                  MSFT
                Open     Close        Open      Close
2005-12-21  5.010849  5.080517  380.981498  377.29376

In [24]:
block.wquantile()

                AAPL                 MSFT
                Open     Close       Open      Close
2005-12-21  2.238582  2.254014  19.518834  19.424118

In [25]:
block.wsem()

                AAPL                MSFT
                Open     Close      Open     Close
2005-12-21  0.020016  0.007946  0.058291  0.051004

In [26]:
block.wskew(axis=1)

               asset
                skew
Date
2005-12-21  0.000084
2005-12-22  0.000067

In [27]:
block.wstd()

                AAPL                MSFT
                Open     Close      Open     Close
2005-12-21  0.028307  0.011237  0.082436  0.072131

In [28]:
block.wsum()

                AAPL                 MSFT
                Open     Close       Open      Close
2005-12-21  4.477164  4.508029  39.037669  38.848236

In [29]:
block.wvar()

                AAPL                MSFT
                Open     Close      Open     Close
2005-12-21  0.000801  0.000126  0.006796  0.005203

In [ ]:
callable(df.fillna)

In [ ]:
hasattr(block.Block, 'start')

In [ ]:
hasattr(block.Block, 'start') and callable(getattr(block.Block, 'start'))

In [ ]:
callable(getattr(block.Block, 'start'))

In [ ]:
hasattr(pd.DataFrame, 'T')

In [ ]:
hasattr(block.Block, 'T')

In [ ]:
hasattr(pd.DataFrame, 'T') and not hasattr(block.Block, 'T')

In [ ]:
dir(block.Block)

In [ ]:
a = panel_.x[0]

In [ ]:
super()

In [ ]:
a.__class__.__dict__

In [ ]:
a.magicmethod('T')

In [ ]:
a.add(1)

In [ ]:
a.mean()

In [ ]:
a.min()

In [ ]:
a.max()

In [ ]:
a.mad()

In [ ]:
dir(pd.DataFrame)

In [ ]:
type(df.memory_usage())

In [ ]:
type(a.mean())

In [ ]:
for c in block.super():
    print(c)

In [ ]:
panel_.plot_block(12)

In [ ]:
panel_.plot_slider(20)

In [ ]:
panel_.x.plot_slider(20)

In [ ]:
panel_.x.plot_block(20)

In [ ]:
panel_.x[12].plot()

In [ ]:
new = panel_.x.side_sample(frac=0.01)

In [ ]:
new[0]

In [ ]:
len(new)

In [ ]:
new_panel = panel_.panel_sample(100)

In [ ]:
len(new_panel)

In [ ]:
panel_.x[0].min()

In [ ]:
panel_.x[0].mean().to_frame()

In [ ]:
type(panel_.x[0].mean().to_frame())

In [ ]:
a = pd.DataFrame([1,2,3,4,5])

In [ ]:
type(a.mean())

In [ ]:
# Implement to_frame().T in Block functions that return series (Gabriel)
# Resample 
# Event tag for plots

In [ ]:
block_ = panel_.x[0]

In [ ]:
block_.mean()

In [ ]:
panel_.x[0].mean()

In [ ]:
panel_.x.min()

In [ ]:
type(panel_.x[0].mean().to_frame().T)

In [ ]:
panel_.x

In [ ]:
panel_.x.first

In [ ]:
panel_.plot_slider(100)

In [ ]:
panel_.plot_block(20)

In [ ]:
panel_.x.plot_slider()

# Test functions example

In [ ]:
side = panel_.x

In [ ]:
side[0]

In [ ]:
side = side.side_shift(window = 1)

In [ ]:
side[0]

In [ ]:
side[0].is_valid

In [ ]:
side[1]

In [ ]:
side = side.side_diff(window = 1)

In [ ]:
side[1]

In [ ]:
side = side.side_pct_change(window = 1)

In [ ]:
side[1]

# Graph types

Separate X from Y

In [ ]:
panel_.plot(2)

In [ ]:
panel_.plot(3)

In [ ]:
panel_.x.first

In [ ]:
panel_.x[0]

In [ ]:
panel.x[0].index

In [ ]:
panel_.x.plot(2)

In [ ]:
panel.x[0]

In [ ]:
panel_.x[2].plot()

In [ ]:
panel.y[0]

In [ ]:
panel.set_training_split()

In [ ]:
panel.x.first

In [ ]:
panel.shape

# Baseline

In [ ]:
baseline = nn.Baseline(panel, metrics=['SE', 'MSE', 'RMSE'])

In [ ]:
predicted = baseline.predict()

In [ ]:
panel.test.y[0]

In [ ]:
predicted[2]

In [ ]:
predicted_val = baseline.predict_val()

In [ ]:
panel.val.y[0]

In [ ]:
predicted_val[2]

In [ ]:
baseline.evaluate('test')

In [ ]:
# m = tf.keras.metrics.MeanSquaredError()
# m.update_state(panel.test.y.tensor3d, predicted.tensor3d)
# m.result().numpy()

# DenseModel

In [ ]:
densemodel = nn.DenseModel(panel, model_type="regression")

In [ ]:
densemodel.fit()

In [ ]:
densemodel.model.summary()

In [ ]:
predicted = densemodel.predict()

In [ ]:
predicted[0]

In [ ]:
panel.test.y[0]

In [ ]:
densemodel.evaluate('test')

In [ ]:
import numpy as np
import pandas as pd
import plotly as px
import plotly.graph_objects as go
import plotly.express as px

pd.set_option("multi_sparse", True)  # To see multilevel indexes
pd.options.plotting.backend = "plotly"

from plotly.subplots import make_subplots

def pair_plot(panel, idx):

    cmap = px.colors.qualitative.Plotly

    fig = make_subplots(rows=len(panel.channels), cols=len(panel.assets), subplot_titles=panel.assets, shared_xaxes=True)

    for j, channel in enumerate(panel.channels):
        c = cmap[j]
        for i, asset in enumerate(panel.assets):

            showlegend = i <= 0
            x_df = panel.x[idx].filter(assets=asset, channels=channel)
            y_df = panel.y[idx].filter(assets=asset, channels=channel)
            # y_df = panel.y[idx].filter(assets=asset, channels=channel)

            x_trace = go.Scatter(x=x_df.index, y=x_df.values.flatten(),
                            line=dict(width=2, color=c), showlegend=showlegend, name=channel)

            y_trace = go.Scatter(x=y_df.index, y=y_df.values.flatten(),
                                line=dict(width=2, dash='dot', color=c), showlegend=False)

            fig.add_trace(x_trace, row=j+1, col=i+1)
            fig.add_trace(y_trace, row=j+1, col=i+1)

    fig.update_layout(showlegend=True)
    fig.show()

In [ ]:
panel.x.as_dataframe()

In [ ]:
# panel = panel.filter('AAPL', ['High', 'Low'])
pair_plot(panel, 0)

In [ ]:
panel = panel.filter('LNC', ['Open', 'High'])
panel[0].plot()
panel.y_ = model.predict()

# ConvModel

In [ ]:
convmodel = nn.ConvModel(panel, model_type="regression")

In [ ]:
convmodel.fit()

In [ ]:
convmodel.model.summary()

In [ ]:
predicted = convmodel.predict()

In [ ]:
predicted[0]

In [ ]:
panel.test.y[0]

In [ ]:
convmodel.evaluate()

# LinearRegression

In [ ]:
linearRegression = nn.LinearRegression(panel)

In [ ]:
linearRegression.fit()

In [ ]:
predicted = linearRegression.predict()

In [ ]:
predicted[0]

In [ ]:
panel.test.y[0]

In [ ]:
linearRegression.evaluate()

# Teste SeparateAssetModel

In [ ]:
panel.val.x[0]

In [ ]:
test_splits = panel.val.x._split_assets()

In [ ]:
x_train = [x.tensor3d for x in test_splits]

In [ ]:
# pd.DataFrame(x_train)

In [ ]:
test_splits[0].tensor3d[0]

In [ ]:
test_splits[0].tensor4d[0]

In [ ]:
pd.DataFrame(panel.val.x.tensor4d)

# SeparateAssetModel

In [ ]:
separateAssetModel = nn.SeparateAssetModel(panel, loss='MSE', optimizer='adam', metrics=['MAE'], hidden_activation='relu', last_activation='linear')

In [ ]:
separateAssetModel.fit()

In [ ]:
separateAssetModel.model.summary()

In [ ]:
predicted = separateAssetModel.predict()

In [ ]:
predicted[0]

In [ ]:
panel.test.y[0]

In [ ]:
separateAssetModel.evaluate()

# SeparateAssetConvModel

In [ ]:
separateAssetConvModel = nn.SeparateAssetConvModel(panel, loss='MSE', optimizer='adam', metrics=['MAE'], hidden_activation='relu', last_activation='linear')

In [ ]:
separateAssetConvModel.fit()

In [ ]:
separateAssetConvModel.model.summary()

In [ ]:
predicted = separateAssetConvModel.predict()

In [ ]:
predicted[0]

In [ ]:
panel.test.y[0]

In [ ]:
separateAssetConvModel.evaluate()

# Test Docstrings

In [ ]:
densemodel = nn.DenseModel()