In [1]:
import sys
sys.path.append('../')

%load_ext autoreload
%autoreload 2

In [46]:
import numpy as np
import pandas as pd
import yfinance as yf

from sklearn.dummy import DummyRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

import wavy
from wavy.utils import reverse_pct_change

In [3]:
tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0].Symbol

In [4]:
msft = yf.Ticker("MSFT")

In [5]:
# get historical market data from 2005 on
hist = msft.history(period="max", start="2005-01-01")

In [6]:
hist = hist[['Open', 'High', 'Low', 'Close']]
df = hist.pct_change()

In [7]:
print(len(df) - len(df.dropna()))
df.dropna(inplace=True)

1

In [92]:
x, y = wavy.create_panels(df, lookback=1, horizon=1)

# predict if the highest price > 0
y = (y['High'] > 0).astype(int)

In [98]:
base = wavy.models.BaselineShift(x=x, y=y, model_type='classification')
base.fit()
base.score()

../wavy/models.py:180: UserWarning: Filling nan values with 0
  warnings.warn(f"Filling nan values with {self.fillna}")

99/99 [==============================] - 0s 1ms/step - loss: 7.0020 - auc: 0.5434 - accuracy: 0.5435 - val_loss: 7.4243 - val_auc: 0.5107 - val_accuracy: 0.5159

             train       val      test
loss      7.002033  7.424325  6.824303
auc       0.543387  0.510714  0.551269
accuracy  0.543458  0.515924  0.555046

In [111]:
lr = wavy.models.LogisticRegression(x=x['Close'], y=y)
lr.fit(epochs=100, verbose=0)
lr.score()

             train       val      test
loss      0.680026  0.683247  0.682601
auc       0.676075  0.661115  0.651367
accuracy  0.611270  0.596178  0.573394

In [130]:
x_data = x['High'].as_dataframe().reset_index(drop=True)
y_data = y['High'].as_dataframe().reset_index(drop=True)

data = pd.concat([x_data, y_data], axis=1)

In [131]:
data.corr()

          High      High
High  1.000000  0.065631
High  0.065631  1.000000

In [94]:
dense = wavy.models.DenseModel(x=x, y=y, model_type='classification')
dense.fit(epochs=50)
dense.score()

Epoch 1/50
99/99 [==============================] - 0s 2ms/step - loss: 0.6912 - auc: 0.6052 - accuracy: 0.5864 - val_loss: 0.6904 - val_auc: 0.6099 - val_accuracy: 0.6038
Epoch 2/50
99/99 [==============================] - 0s 538us/step - loss: 0.6894 - auc: 0.6176 - accuracy: 0.5778 - val_loss: 0.6887 - val_auc: 0.6192 - val_accuracy: 0.6102
Epoch 3/50
99/99 [==============================] - 0s 542us/step - loss: 0.6874 - auc: 0.6312 - accuracy: 0.5890 - val_loss: 0.6871 - val_auc: 0.6284 - val_accuracy: 0.5962
Epoch 4/50
99/99 [==============================] - 0s 521us/step - loss: 0.6849 - auc: 0.6264 - accuracy: 0.5848 - val_loss: 0.6837 - val_auc: 0.6270 - val_accuracy: 0.6255
Epoch 5/50
99/99 [==============================] - 0s 511us/step - loss: 0.6822 - auc: 0.6253 - accuracy: 0.5855 - val_loss: 0.6803 - val_auc: 0.6324 - val_accuracy: 0.6280
Epoch 6/50
99/99 [==============================] - 0s 511us/step - loss: 0.6784 - auc: 0.6462 - accuracy: 0.6084 - val_loss: 0.6808 - val_auc: 0.6340 - val_accuracy: 0.5796
Epoch 7/50
99/99 [==============================] - 0s 509us/step - loss: 0.6749 - auc: 0.6498 - accuracy: 0.6011 - val_loss: 0.6769 - val_auc: 0.6373 - val_accuracy: 0.5898
Epoch 8/50
99/99 [==============================] - 0s 507us/step - loss: 0.6713 - auc: 0.6551 - accuracy: 0.6135 - val_loss: 0.6756 - val_auc: 0.6393 - val_accuracy: 0.5809
Epoch 9/50
99/99 [==============================] - 0s 501us/step - loss: 0.6682 - auc: 0.6587 - accuracy: 0.6160 - val_loss: 0.6762 - val_auc: 0.6401 - val_accuracy: 0.5898
Epoch 10/50
99/99 [==============================] - 0s 505us/step - loss: 0.6660 - auc: 0.6555 - accuracy: 0.6103 - val_loss: 0.6719 - val_auc: 0.6434 - val_accuracy: 0.5860
Epoch 11/50
99/99 [==============================] - 0s 505us/step - loss: 0.6625 - auc: 0.6608 - accuracy: 0.6138 - val_loss: 0.6640 - val_auc: 0.6493 - val_accuracy: 0.6369
Epoch 12/50
99/99 [==============================] - 0s 511us/step - loss: 0.6610 - auc: 0.6630 - accuracy: 0.6205 - val_loss: 0.6658 - val_auc: 0.6521 - val_accuracy: 0.6038
Epoch 13/50
99/99 [==============================] - 0s 507us/step - loss: 0.6588 - auc: 0.6633 - accuracy: 0.6103 - val_loss: 0.6615 - val_auc: 0.6542 - val_accuracy: 0.6318
Epoch 14/50
99/99 [==============================] - 0s 509us/step - loss: 0.6567 - auc: 0.6679 - accuracy: 0.6240 - val_loss: 0.6627 - val_auc: 0.6571 - val_accuracy: 0.6115
Epoch 15/50
99/99 [==============================] - 0s 521us/step - loss: 0.6545 - auc: 0.6703 - accuracy: 0.6253 - val_loss: 0.6579 - val_auc: 0.6604 - val_accuracy: 0.6420
Epoch 16/50
99/99 [==============================] - 0s 528us/step - loss: 0.6527 - auc: 0.6711 - accuracy: 0.6262 - val_loss: 0.6561 - val_auc: 0.6626 - val_accuracy: 0.6471
Epoch 17/50
99/99 [==============================] - 0s 513us/step - loss: 0.6512 - auc: 0.6732 - accuracy: 0.6336 - val_loss: 0.6556 - val_auc: 0.6655 - val_accuracy: 0.6497
Epoch 18/50
99/99 [==============================] - 0s 502us/step - loss: 0.6497 - auc: 0.6747 - accuracy: 0.6253 - val_loss: 0.6547 - val_auc: 0.6670 - val_accuracy: 0.6510
Epoch 19/50
99/99 [==============================] - 0s 525us/step - loss: 0.6482 - auc: 0.6754 - accuracy: 0.6304 - val_loss: 0.6536 - val_auc: 0.6694 - val_accuracy: 0.6510
Epoch 20/50
99/99 [==============================] - 0s 545us/step - loss: 0.6472 - auc: 0.6754 - accuracy: 0.6230 - val_loss: 0.6528 - val_auc: 0.6710 - val_accuracy: 0.6484
Epoch 21/50
99/99 [==============================] - 0s 541us/step - loss: 0.6462 - auc: 0.6777 - accuracy: 0.6291 - val_loss: 0.6535 - val_auc: 0.6729 - val_accuracy: 0.6459
Epoch 22/50
99/99 [==============================] - 0s 1ms/step - loss: 0.6446 - auc: 0.6801 - accuracy: 0.6291 - val_loss: 0.6490 - val_auc: 0.6748 - val_accuracy: 0.6599
Epoch 23/50
99/99 [==============================] - 0s 672us/step - loss: 0.6435 - auc: 0.6815 - accuracy: 0.6380 - val_loss: 0.6521 - val_auc: 0.6767 - val_accuracy: 0.6510
Epoch 24/50
99/99 [==============================] - 0s 560us/step - loss: 0.6427 - auc: 0.6822 - accuracy: 0.6339 - val_loss: 0.6483 - val_auc: 0.6776 - val_accuracy: 0.6611
Epoch 25/50
99/99 [==============================] - 0s 532us/step - loss: 0.6416 - auc: 0.6835 - accuracy: 0.6361 - val_loss: 0.6524 - val_auc: 0.6790 - val_accuracy: 0.6306
Epoch 26/50
99/99 [==============================] - 0s 518us/step - loss: 0.6414 - auc: 0.6820 - accuracy: 0.6332 - val_loss: 0.6470 - val_auc: 0.6797 - val_accuracy: 0.6624
Epoch 27/50
99/99 [==============================] - 0s 623us/step - loss: 0.6406 - auc: 0.6837 - accuracy: 0.6355 - val_loss: 0.6459 - val_auc: 0.6813 - val_accuracy: 0.6675
Epoch 28/50
99/99 [==============================] - 0s 525us/step - loss: 0.6414 - auc: 0.6798 - accuracy: 0.6339 - val_loss: 0.6547 - val_auc: 0.6815 - val_accuracy: 0.6178
Epoch 29/50
99/99 [==============================] - 0s 520us/step - loss: 0.6389 - auc: 0.6861 - accuracy: 0.6367 - val_loss: 0.6427 - val_auc: 0.6836 - val_accuracy: 0.6713
Epoch 30/50
99/99 [==============================] - 0s 523us/step - loss: 0.6383 - auc: 0.6863 - accuracy: 0.6377 - val_loss: 0.6448 - val_auc: 0.6838 - val_accuracy: 0.6739
Epoch 31/50
99/99 [==============================] - 0s 515us/step - loss: 0.6387 - auc: 0.6852 - accuracy: 0.6351 - val_loss: 0.6437 - val_auc: 0.6850 - val_accuracy: 0.6752
Epoch 32/50
99/99 [==============================] - 0s 515us/step - loss: 0.6376 - auc: 0.6871 - accuracy: 0.6390 - val_loss: 0.6411 - val_auc: 0.6857 - val_accuracy: 0.6662
Epoch 33/50
99/99 [==============================] - 0s 520us/step - loss: 0.6365 - auc: 0.6884 - accuracy: 0.6450 - val_loss: 0.6501 - val_auc: 0.6853 - val_accuracy: 0.6433
Epoch 34/50
99/99 [==============================] - 0s 503us/step - loss: 0.6362 - auc: 0.6892 - accuracy: 0.6412 - val_loss: 0.6433 - val_auc: 0.6869 - val_accuracy: 0.6790
Epoch 35/50
99/99 [==============================] - 0s 516us/step - loss: 0.6359 - auc: 0.6886 - accuracy: 0.6402 - val_loss: 0.6497 - val_auc: 0.6869 - val_accuracy: 0.6459
Epoch 36/50
99/99 [==============================] - 0s 524us/step - loss: 0.6368 - auc: 0.6868 - accuracy: 0.6361 - val_loss: 0.6453 - val_auc: 0.6882 - val_accuracy: 0.6611
Epoch 37/50
99/99 [==============================] - 0s 508us/step - loss: 0.6355 - auc: 0.6887 - accuracy: 0.6396 - val_loss: 0.6434 - val_auc: 0.6889 - val_accuracy: 0.6713
Epoch 38/50
99/99 [==============================] - 0s 515us/step - loss: 0.6349 - auc: 0.6911 - accuracy: 0.6425 - val_loss: 0.6437 - val_auc: 0.6896 - val_accuracy: 0.6662
Epoch 39/50
99/99 [==============================] - 0s 519us/step - loss: 0.6349 - auc: 0.6904 - accuracy: 0.6501 - val_loss: 0.6465 - val_auc: 0.6899 - val_accuracy: 0.6611
Epoch 40/50
99/99 [==============================] - 0s 533us/step - loss: 0.6342 - auc: 0.6910 - accuracy: 0.6428 - val_loss: 0.6439 - val_auc: 0.6905 - val_accuracy: 0.6688
Epoch 41/50
99/99 [==============================] - 0s 523us/step - loss: 0.6340 - auc: 0.6920 - accuracy: 0.6390 - val_loss: 0.6455 - val_auc: 0.6909 - val_accuracy: 0.6599
Epoch 42/50
99/99 [==============================] - 0s 523us/step - loss: 0.6337 - auc: 0.6921 - accuracy: 0.6393 - val_loss: 0.6415 - val_auc: 0.6915 - val_accuracy: 0.6764
Epoch 43/50
99/99 [==============================] - 0s 574us/step - loss: 0.6339 - auc: 0.6917 - accuracy: 0.6402 - val_loss: 0.6423 - val_auc: 0.6925 - val_accuracy: 0.6726
Epoch 44/50
99/99 [==============================] - 0s 534us/step - loss: 0.6329 - auc: 0.6927 - accuracy: 0.6450 - val_loss: 0.6463 - val_auc: 0.6923 - val_accuracy: 0.6675
Epoch 45/50
99/99 [==============================] - 0s 528us/step - loss: 0.6325 - auc: 0.6940 - accuracy: 0.6418 - val_loss: 0.6421 - val_auc: 0.6937 - val_accuracy: 0.6701
Epoch 46/50
99/99 [==============================] - 0s 524us/step - loss: 0.6325 - auc: 0.6928 - accuracy: 0.6393 - val_loss: 0.6540 - val_auc: 0.6927 - val_accuracy: 0.6268
Epoch 47/50
99/99 [==============================] - 0s 524us/step - loss: 0.6325 - auc: 0.6931 - accuracy: 0.6383 - val_loss: 0.6418 - val_auc: 0.6932 - val_accuracy: 0.6739
Epoch 48/50
99/99 [==============================] - 0s 527us/step - loss: 0.6321 - auc: 0.6941 - accuracy: 0.6434 - val_loss: 0.6422 - val_auc: 0.6940 - val_accuracy: 0.6713
Epoch 49/50
99/99 [==============================] - 0s 549us/step - loss: 0.6319 - auc: 0.6946 - accuracy: 0.6488 - val_loss: 0.6417 - val_auc: 0.6950 - val_accuracy: 0.6726
Epoch 50/50
99/99 [==============================] - 0s 532us/step - loss: 0.6319 - auc: 0.6945 - accuracy: 0.6447 - val_loss: 0.6472 - val_auc: 0.6949 - val_accuracy: 0.6624

             train       val      test
loss      0.631498  0.647224  0.660955
auc       0.696106  0.694878  0.662656
accuracy  0.644062  0.662420  0.610092

In [27]:
x[0]

                Open          High       Low     Close
Date
2005-01-04  0.002612  5.565464e-03  0.000375  0.003739
2005-01-05 -0.001116  6.012214e-08  0.003751 -0.002235
2005-01-06  0.000373 -1.475732e-03 -0.004484 -0.001120
2005-01-07 -0.001117 -6.282067e-03 -0.000750 -0.002990
2005-01-10 -0.008203 -1.115739e-03 -0.003005  0.004874
2005-01-11  0.003383 -1.489672e-03  0.002637 -0.002612
2005-01-12  0.002997  1.118568e-03  0.000376  0.001871
2005-01-13 -0.003362 -1.861895e-03 -0.017280 -0.019044
2005-01-14 -0.010495 -1.305981e-02 -0.004587 -0.005710
2005-01-18 -0.014015 -3.780623e-03 -0.007680  0.007657

In [39]:
x_max = x.max().to_frame().transpose()

x_max.rename(columns={'Open': 'max_open', 'High': 'max_high', 'Low': 'max_low', 'Close': 'max_close'}, inplace=True)

x_min = x.min().to_frame().transpose()

x_min.rename(columns={'Open': 'min_open', 'High': 'min_high', 'Low': 'min_low', 'Close': 'min_close'}, inplace=True)


x_mean = x.mean().to_frame().transpose()

x_mean.rename(columns={'Open': 'mean_open', 'High': 'mean_high', 'Low': 'mean_low', 'Close': 'mean_close'}, inplace=True)


x_std = x.std().to_frame().transpose()

x_std.rename(columns={'Open': 'std_open', 'High': 'std_high', 'Low': 'std_low', 'Close': 'std_close'}, inplace=True)

# x_last = x.iloc[-1].to_frame().transpose()

# x_last.rename(columns={'Open': 'last_open', 'High': 'last_high', 'Low': 'last_low', 'Close': 'last_close'}, inplace=True)

In [40]:
from wavy import Panel

xx = Panel([pd.concat(ls, axis=1) for ls in zip(x_max, x_min, x_mean, x_std)])

In [41]:
xx[0]

,max_open,max_high,max_low,max_close,min_open,min_high,min_low,min_close,mean_open,mean_high,mean_low,mean_close,std_open,std_high,std_low,std_close
0,0.003383,0.005565,0.003751,0.007657,-0.014015,-0.01306,-0.01728,-0.019044,-0.002894,-0.002238,-0.003065,-0.001557,0.006067,0.004894,0.006107,0.007401

In [75]:
lr.score()

             train       val      test
loss      0.689902  0.691065  0.691444
auc       0.559031  0.585592  0.584791
accuracy  0.539075  0.559387  0.524138

In [ ]:
# SHALLOW

In [63]:
x_train = xx.train.as_dataframe().reset_index(drop=True)
y_train = y.train.as_dataframe().reset_index(drop=True).values[:, 0]

x_val = xx.val.as_dataframe().reset_index(drop=True)
y_val = y.val.as_dataframe().reset_index(drop=True).values[:, 0]

x_test = xx.test.as_dataframe().reset_index(drop=True)
y_test = y.test.as_dataframe().reset_index(drop=True).values[:, 0]

In [76]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

lr = LogisticRegression()
lr.fit(x_train, y_train)

rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier()

In [82]:
roc_auc_score(y_val, lr.predict_proba(x_val)[:, 1])

0.546182777961069

In [81]:
roc_auc_score(y_val, rf.predict_proba(x_val)[:, 1])

0.6046123391619928