In [1]:
%load_ext autoreload
%autoreload 2

from datetime import datetime
import numpy as np
import pandas as pd
import tensorflow as tf
from tqdm.notebook import tqdm

# from timelab import MultiColumn, from_data, from_xy_data
# from timelab.utils import smash_array
import sys
sys.path.append('../')
from wavy import *

In [2]:
df = pd.read_pickle('processed.pkl')

In [3]:
# df = df[['LNC', 'MAS', 'CSX']]
df = df[['MAS']]

In [4]:
df.head(5)

                  MAS
                 Open       High        Low      Close     Volume
Date
2005-12-21  18.991695  19.154659  18.903944  19.085712  1384200.0
2005-12-22  19.085703  19.298810  18.910202  18.929007  1576900.0
2005-12-23  18.954090  18.954090  18.684571  18.816196  2090500.0
2005-12-27  18.929008  18.991687  18.803650  18.847525  1609000.0
2005-12-28  18.853798  18.935281  18.747245  18.803656  2026300.0

In [5]:
panel = from_data(df, lookback=10, horizon=1)

In [6]:
a = panel.x.pct_change()

/Users/ibiscp/GitHub/wavy/notebooks/../wavy/block.py:886: FutureWarning: In a future version of pandas all arguments of DataFrame.fillna except for the argument 'value' will be keyword-only
  return super().fillna(value, method, axis, inplace, limit, downcast)

In [7]:
a[0]

                 MAS
                Open      High       Low     Close    Volume
Date
2005-12-21       NaN       NaN       NaN       NaN       NaN
2005-12-22  0.004950  0.007526  0.000331 -0.008211  0.139214
2005-12-23 -0.006896 -0.017862 -0.011932 -0.005960  0.325702
2005-12-27 -0.001323  0.001984  0.006373  0.001665 -0.230328
2005-12-28 -0.003973 -0.002970 -0.003000 -0.002328  0.259354
2005-12-29 -0.002659 -0.000331 -0.001337 -0.000667 -0.240734
2005-12-30 -0.000667  0.002649  0.003348  0.007004  0.086383
2006-01-03  0.020014  0.030714  0.007675  0.033787  1.172430
2006-01-04  0.017640 -0.000968  0.016781 -0.009029 -0.343349
2006-01-05 -0.007115  0.000323  0.000655 -0.004556  0.082456

In [8]:
panel.x = panel.x.iloc[1:]

In [9]:
panel

size                            3737
lookback                           9
horizon                            1
num_xassets                        1
num_yassets                        1
num_xchannels                      5
num_ychannels                      5
start            2005-12-22 00:00:00
end              2020-11-10 00:00:00
Name: TimePanel, dtype: object

In [10]:
type(panel.x)

wavy.side.PanelSide

In [11]:
panel.x = panel.x.shift(2)

In [12]:
panel.x.first

                  MAS
                 Open       High        Low      Close     Volume
Date
2005-12-22        NaN        NaN        NaN        NaN        NaN
2005-12-23        NaN        NaN        NaN        NaN        NaN
2005-12-27  19.085703  19.298810  18.910202  18.929007  1576900.0
2005-12-28  18.954090  18.954090  18.684571  18.816196  2090500.0
2005-12-29  18.929008  18.991687  18.803650  18.847525  1609000.0
2005-12-30  18.853798  18.935281  18.747245  18.803656  2026300.0
2006-01-03  18.803659  18.929017  18.722176  18.791122  1538500.0
2006-01-04  18.791119  18.979156  18.784852  18.922745  1671400.0
2006-01-05  19.167201  19.562078  18.929022  19.562078  3631000.0

In [13]:
panel.x.matrix[0]

TypeError: 'function' object is not subscriptable

In [17]:
panel.x.dropna()

100%|██████████| 3737/3737 [00:00<00:00, 148257.83it/s]

ValueError: 'dropna' would create empty TimePanel

In [ ]:
type(panel.x[0])

In [ ]:
a = getattr(TimeBlock, 'iloc')

In [ ]:
a

In [ ]:
a = panel.x.iloc[:2]

In [ ]:
a.first

In [ ]:
getattr(panel.x.first, a[0].__name__)

In [ ]:
panel.x.first.iloc[1:]

In [ ]:
panel.x = panel.x.fillna(0)
# WHAT? I commented this. Please take a look at panel.py >> 197

In [ ]:
panel.x = panel.x.fillna(0)

In [ ]:
panel.x[0]

In [ ]:
panel.y[0]

In [ ]:
panel.y = panel.y.filter(channels='High')
# Too slow. Just imagine an initial df of 1M rows.
# Let's time each of the panel/side functions and see try to speed up the slow ones.

In [ ]:
panel.y[0]

In [ ]:
panel.y.values
# ???

In [ ]:
baseline = Baseline(panel)

In [ ]:
y_true = panel.test.y.flatten()
y_pred = baseline.predict()

In [ ]:
y_pred = y_pred.predicted

In [ ]:
y_true.shape

In [ ]:
y_true[:3]

In [ ]:
y_pred[:3]

In [ ]:
# Maybe the predictions should come as series/dataframes indeed. Here, the INDEX is really important, and we could remove the first NaN as long as we keep the index of the second value explicit.

# Let's think of a way to make indexes intuitive. They are simple when input index is dates, but when this is not passed, just numeric indexes would work?

# This means quite a shift in the way we treat a panel's/side index. It should be fixed in a way that even when dropping samples or adding steps, etc. the index is still consistent.

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_true, y_pred)
# NaN makes it not computable.

In [ ]:
mean_squared_error(y_true[1:], y_pred[1:]) # horizon = 1, thus that's the number of nans generated with baseline model.

# If the index is explicit and we use dataframes, we could hide NaN values...
# metrics such as mean_squared_error could be part of the Model, e.g. model.validate('mse'), model.test('mse)

In [14]:
panel.x.findna()

100%|██████████| 3737/3737 [00:00<00:00, 103142.92it/s]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]