### Imports

In [1]:
import sys
sys.path.append('../')

from wavy import *
import pandas as pd

### Load data

In [2]:
data_pd = pd.read_pickle('processed.pkl')
data_pd = data_pd.iloc[0:6,:]
data_pd

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
2005-12-29  39.302738  39.463277  38.923283  38.937878   532300.0  18.803659

                                                        ...       CSX  \
                 High        Low      Close     Volume  ...      Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...  6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...  6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...  6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...  6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...  6.419358
2005-12-29  18.929017  18.722176  18.791122  1538500.0  ...  6.415554

                                                            CI             \
                High       Low     Close     Volume       Open       High
Date
2005-12-21  6.399080  6.245725  6.362326  8358000.0  36.945102  37.462575
2005-12-22  6.420626  6.361058  6.410487  5344800.0  37.409841  37.630677
2005-12-23  6.520752  6.297691  6.468790  3630000.0  37.376876  37.432909
2005-12-27  6.527087  6.369931  6.400348  4905000.0  37.195584  37.455973
2005-12-28  6.459914  6.363592  6.419358  3578400.0  37.241735  37.449383
2005-12-29  6.539759  6.409217  6.475122  4571400.0  37.093414  37.653740


                  Low      Close     Volume
Date
2005-12-21  36.895658  37.370289  2805900.0
2005-12-22  37.073647  37.327442  2296800.0
2005-12-23  36.905546  37.261517  1686000.0
2005-12-27  36.961570  37.116482  1917900.0
2005-12-28  37.109892  37.251621  1248900.0
2005-12-29  37.076934  37.413128  1558800.0

[6 rows x 2085 columns]

In [3]:
datablock = from_dataframe(data_pd)
datablock

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
2005-12-29  39.302738  39.463277  38.923283  38.937878   532300.0  18.803659

                                                        ...       CSX  \
                 High        Low      Close     Volume  ...      Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...  6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...  6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...  6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...  6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...  6.419358
2005-12-29  18.929017  18.722176  18.791122  1538500.0  ...  6.415554

                                                            CI             \
                High       Low     Close     Volume       Open       High
Date
2005-12-21  6.399080  6.245725  6.362326  8358000.0  36.945102  37.462575
2005-12-22  6.420626  6.361058  6.410487  5344800.0  37.409841  37.630677
2005-12-23  6.520752  6.297691  6.468790  3630000.0  37.376876  37.432909
2005-12-27  6.527087  6.369931  6.400348  4905000.0  37.195584  37.455973
2005-12-28  6.459914  6.363592  6.419358  3578400.0  37.241735  37.449383
2005-12-29  6.539759  6.409217  6.475122  4571400.0  37.093414  37.653740


                  Low      Close     Volume
Date
2005-12-21  36.895658  37.370289  2805900.0
2005-12-22  37.073647  37.327442  2296800.0
2005-12-23  36.905546  37.261517  1686000.0
2005-12-27  36.961570  37.116482  1917900.0
2005-12-28  37.109892  37.251621  1248900.0
2005-12-29  37.076934  37.413128  1558800.0

[6 rows x 2085 columns]

In [4]:
datablock = datablock.filter(assets=['MSFT', 'AAPL'], channels=['Open', 'Close'])

In [5]:
x_timesteps = len(datablock.index)
x_timesteps

6

In [6]:
lookback = 2
horizon = 2
gap = 1

In [7]:
end = x_timesteps - horizon - gap + 1

In [8]:
x = TimeBlock(datablock)

In [9]:
indexes = np.arange(lookback, end)
indexes

array([2, 3])

In [10]:
xblocks = []
for i in indexes:
    xblocks.append(x.iloc[i - lookback : i])
xblocks

[                 MSFT                 AAPL
                  Open      Close      Open     Close
 Date
 2005-12-21  19.577126  19.475122  2.218566  2.246069
 2005-12-22  19.460543  19.373114  2.258598  2.261960,
                  MSFT                 AAPL
                  Open      Close      Open     Close
 Date
 2005-12-22  19.460543  19.373114  2.258598  2.261960
 2005-12-23  19.322122  19.409552  2.266543  2.241485]

In [11]:
len(xblocks)

2

In [12]:
panel = PanelSide(xblocks)

In [13]:
panel

In [14]:
other = panel.first

In [15]:
other

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [16]:
panel2= panel.__add__(other)
panel2

/Users/ibiscp/GitHub/wavy/notebooks/../wavy/side.py:80: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return np.array(self.blocks)

In [17]:
panel2.first

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  39.154251  38.950245  4.437132  4.492137
2005-12-22  38.921086  38.746227  4.517197  4.523920

In [18]:
panel.shape

(2, 2, 2, 2)

In [19]:
panel.values

array([[[19.57712554, 19.47512245,  2.21856582,  2.24606872],
        [19.46054323, 19.37311363,  2.25859845,  2.26195979]],

       [[19.46054323, 19.37311363,  2.25859845,  2.26195979],
        [19.32212198, 19.40955162,  2.26654326,  2.24148512]]])

In [20]:
panel.values.shape

(2, 2, 4)

In [21]:
panel.first

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [22]:
panel.last

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-22  19.460543  19.373114  2.258598  2.261960
2005-12-23  19.322122  19.409552  2.266543  2.241485

In [23]:
panel.assets

0    MSFT
1    AAPL
dtype: object

In [28]:
panel.end

Timestamp('2005-12-23 00:00:00')

In [29]:
panel.timesteps

DatetimeIndex(['2005-12-21', '2005-12-22'], dtype='datetime64[ns]', name='Date', freq=None)

In [30]:
panel.index

DatetimeIndex(['2005-12-21', '2005-12-22', '2005-12-23'], dtype='datetime64[ns]', name='Date', freq=None)

In [32]:
panel.filter(assets=['AAPL'], channels=['Open'])
panel

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 84.41it/s]

In [33]:
panel