### Imports

In [1]:
import sys
sys.path.append('../')

from wavy import *
import pandas as pd

### Load data

In [2]:
data_pd = pd.read_pickle('processed.pkl')
data_pd = data_pd.iloc[0:6,:]
data_pd

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
2005-12-29  39.302738  39.463277  38.923283  38.937878   532300.0  18.803659

                                                        ...       CSX  \
                 High        Low      Close     Volume  ...      Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...  6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...  6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...  6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...  6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...  6.419358
2005-12-29  18.929017  18.722176  18.791122  1538500.0  ...  6.415554

                                                            CI             \
                High       Low     Close     Volume       Open       High
Date
2005-12-21  6.399080  6.245725  6.362326  8358000.0  36.945102  37.462575
2005-12-22  6.420626  6.361058  6.410487  5344800.0  37.409841  37.630677
2005-12-23  6.520752  6.297691  6.468790  3630000.0  37.376876  37.432909
2005-12-27  6.527087  6.369931  6.400348  4905000.0  37.195584  37.455973
2005-12-28  6.459914  6.363592  6.419358  3578400.0  37.241735  37.449383
2005-12-29  6.539759  6.409217  6.475122  4571400.0  37.093414  37.653740


                  Low      Close     Volume
Date
2005-12-21  36.895658  37.370289  2805900.0
2005-12-22  37.073647  37.327442  2296800.0
2005-12-23  36.905546  37.261517  1686000.0
2005-12-27  36.961570  37.116482  1917900.0
2005-12-28  37.109892  37.251621  1248900.0
2005-12-29  37.076934  37.413128  1558800.0

[6 rows x 2085 columns]

In [3]:
datablock = from_dataframe(data_pd)
datablock

                  LNC                                                    MAS  \
                 Open       High        Low      Close     Volume       Open
Date
2005-12-21  38.127885  39.324626  38.120589  39.207870  2190100.0  18.991695
2005-12-22  39.185984  39.324630  38.879500  39.040039  1095500.0  19.085703
2005-12-23  39.061931  39.397604  38.959771  39.324631   588800.0  18.954090
2005-12-27  39.514374  39.514374  38.981676  39.237080   932700.0  18.929008
2005-12-28  39.455973  39.696782  39.244353  39.310028   427200.0  18.853798
2005-12-29  39.302738  39.463277  38.923283  38.937878   532300.0  18.803659

                                                        ...       CSX  \
                 High        Low      Close     Volume  ...      Open
Date                                                    ...
2005-12-21  19.154659  18.903944  19.085712  1384200.0  ...  6.245725
2005-12-22  19.298810  18.910202  18.929007  1576900.0  ...  6.381336
2005-12-23  18.954090  18.684571  18.816196  2090500.0  ...  6.297691
2005-12-27  18.991687  18.803650  18.847525  1609000.0  ...  6.520750
2005-12-28  18.935281  18.747245  18.803656  2026300.0  ...  6.419358
2005-12-29  18.929017  18.722176  18.791122  1538500.0  ...  6.415554

                                                            CI             \
                High       Low     Close     Volume       Open       High
Date
2005-12-21  6.399080  6.245725  6.362326  8358000.0  36.945102  37.462575
2005-12-22  6.420626  6.361058  6.410487  5344800.0  37.409841  37.630677
2005-12-23  6.520752  6.297691  6.468790  3630000.0  37.376876  37.432909
2005-12-27  6.527087  6.369931  6.400348  4905000.0  37.195584  37.455973
2005-12-28  6.459914  6.363592  6.419358  3578400.0  37.241735  37.449383
2005-12-29  6.539759  6.409217  6.475122  4571400.0  37.093414  37.653740


                  Low      Close     Volume
Date
2005-12-21  36.895658  37.370289  2805900.0
2005-12-22  37.073647  37.327442  2296800.0
2005-12-23  36.905546  37.261517  1686000.0
2005-12-27  36.961570  37.116482  1917900.0
2005-12-28  37.109892  37.251621  1248900.0
2005-12-29  37.076934  37.413128  1558800.0

[6 rows x 2085 columns]

In [4]:
datablock = datablock.filter(assets=['MSFT', 'AAPL'], channels=['Open', 'Close'])

In [5]:
x_timesteps = len(datablock.index)
x_timesteps

6

In [6]:
lookback = 2
horizon = 2
gap = 1

In [7]:
end = x_timesteps - horizon - gap + 1

In [8]:
x = TimeBlock(datablock)

In [9]:
indexes = np.arange(lookback, end)
indexes

array([2, 3])

In [10]:
xblocks = []
for i in indexes:
    xblocks.append(x.iloc[i - lookback : i])
xblocks

[                 MSFT                 AAPL
                  Open      Close      Open     Close
 Date
 2005-12-21  19.577126  19.475122  2.218566  2.246069
 2005-12-22  19.460543  19.373114  2.258598  2.261960,
                  MSFT                 AAPL
                  Open      Close      Open     Close
 Date
 2005-12-22  19.460543  19.373114  2.258598  2.261960
 2005-12-23  19.322122  19.409552  2.266543  2.241485]

In [11]:
len(xblocks)

2

In [12]:
panel = PanelSide(xblocks)

In [13]:
panel

In [14]:
other = panel.first

In [15]:
other

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [16]:
panel2= panel.__add__(other)
panel2

In [17]:
type(panel.flat())

a = panel.flatten

In [18]:
panel.flat().values.flatten()

array([19.57712554, 19.47512245,  2.21856582,  2.24606872, 19.46054323,
       19.37311363,  2.25859845,  2.26195979, 19.46054323, 19.37311363,
        2.25859845,  2.26195979, 19.32212198, 19.40955162,  2.26654326,
        2.24148512])

In [19]:
panel.flatten()

array([19.57712554, 19.47512245,  2.21856582,  2.24606872, 19.46054323,
       19.37311363,  2.25859845,  2.26195979, 19.46054323, 19.37311363,
        2.25859845,  2.26195979, 19.32212198, 19.40955162,  2.26654326,
        2.24148512])

In [20]:
# countna
values = [block.isnull().values.sum() for block in panel.blocks]
pd.DataFrame(values, index=range(len(panel.blocks)), columns=['nan'])

   nan
0    0
1    0

In [21]:
timesteps = panel.first.index
new_shape = (len(panel), len(timesteps), len(panel.assets), len(panel.channels))

In [22]:
new_shape

(2, 2, 2, 2)

In [23]:
panel.values

In [24]:
panel.values.shape

In [25]:
panel.first

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [26]:
panel.last

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-22  19.460543  19.373114  2.258598  2.261960
2005-12-23  19.322122  19.409552  2.266543  2.241485

In [27]:
panel.assets

0    MSFT
1    AAPL
dtype: object

In [28]:
panel.end

Timestamp('2005-12-23 00:00:00')

In [29]:
panel.timesteps

In [30]:
panel.index

In [31]:
panel.filter(assets=['AAPL'], channels=['Open'])
panel

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 87.55it/s]

In [32]:
panel

In [33]:
panel.blocks

[                 MSFT                 AAPL
                  Open      Close      Open     Close
 Date
 2005-12-21  19.577126  19.475122  2.218566  2.246069
 2005-12-22  19.460543  19.373114  2.258598  2.261960,
                  MSFT                 AAPL
                  Open      Close      Open     Close
 Date
 2005-12-22  19.460543  19.373114  2.258598  2.261960
 2005-12-23  19.322122  19.409552  2.266543  2.241485]

In [34]:
a = panel.blocks

In [35]:
a

[                 MSFT                 AAPL
                  Open      Close      Open     Close
 Date
 2005-12-21  19.577126  19.475122  2.218566  2.246069
 2005-12-22  19.460543  19.373114  2.258598  2.261960,
                  MSFT                 AAPL
                  Open      Close      Open     Close
 Date
 2005-12-22  19.460543  19.373114  2.258598  2.261960
 2005-12-23  19.322122  19.409552  2.266543  2.241485]

In [36]:
panel.first

                 MSFT                 AAPL
                 Open      Close      Open     Close
Date
2005-12-21  19.577126  19.475122  2.218566  2.246069
2005-12-22  19.460543  19.373114  2.258598  2.261960

In [37]:
panel.last.tensor

array([[[19.46054323, 19.37311363],
        [19.32212198, 19.40955162]],

       [[ 2.25859845,  2.26195979],
        [ 2.26654326,  2.24148512]]])

In [38]:
b = panel.tensor
b

In [39]:
panel.flat()

,0,1,2,3,4,5,6,7
2005-12-22,19.577126,19.475122,2.218566,2.246069,19.460543,19.373114,2.258598,2.261960
2005-12-23,19.460543,19.373114,2.258598,2.261960,19.322122,19.409552,2.266543,2.241485

In [40]:
panel.flatten()

array([19.57712554, 19.47512245,  2.21856582,  2.24606872, 19.46054323,
       19.37311363,  2.25859845,  2.26195979, 19.46054323, 19.37311363,
        2.25859845,  2.26195979, 19.32212198, 19.40955162,  2.26654326,
        2.24148512])

In [41]:
panel.matrix

In [42]:
panel.data()

AttributeError: 'PanelSide' object has no attribute 'data'

In [ ]:
panel.index

In [ ]:
panel.shape

In [ ]:
panel.flat()

### Countna

In [43]:
a = panel.first
b = panel.last

In [44]:
a.matrix[0][2] = np.nan
a.matrix[1][1] = np.nan

b.matrix[0][1] = np.nan
b.matrix[1][3] = np.nan

In [45]:
nan_panel = PanelSide([a, b])

In [ ]:
a.first

In [ ]:
a.last

In [ ]:
values = [block.isnull().values.sum() for block in panel.blocks]

In [ ]:
pd.DataFrame(values, index=range(len(panel.blocks)))

In [46]:
nan_panel.countna()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 5002.15it/s]

   nan
0    2
1    2

In [47]:
nan_panel.fillna(0)

In [50]:
values = np.sum(nan_panel.tensor4d, axis=(3, 2, 1))
values = pd.Series(values).isna()
values[values == True].index.tolist()

AttributeError: 'PanelSide' object has no attribute 'tensor4d'

In [48]:
nan_panel.findna()

AttributeError: 'PanelSide' object has no attribute 'numpy'

## Test runtime

In [ ]:
data_pd = pd.read_pickle('processed.pkl')
datablock = from_dataframe(data_pd)

lookback = 5
horizon = 5
gap = 1

x_timesteps = len(datablock.index)
end = x_timesteps - horizon - gap + 1

x = TimeBlock(datablock)

indexes = np.arange(lookback, end)

xblocks = []
for i in indexes:
    xblocks.append(x.iloc[i - lookback : i])
xblocks

panel = PanelSide(xblocks)

In [ ]:
len(panel.blocks)

In [ ]:
import timeit

start = timeit.default_timer()
a = panel.tensor
stop = timeit.default_timer()
print('Time: ', stop - start)

In [ ]:
a

In [ ]:
start = timeit.default_timer()
b = panel.tensor2
stop = timeit.default_timer()
print('Time: ', stop - start)

In [ ]:
all(a.__eq__(b).flatten())

In [ ]:
panel.index