In [1]:
import pandas as pd
import yfinance as yf

import sys
sys.path.append('../')

import wavy

tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0].Symbol

msft = yf.Ticker("MSFT")

hist = msft.history(period="max", start="2005-01-01")

hist = hist[['Open', 'High', 'Low', 'Close']]

df = hist.pct_change()

df.dropna(inplace=True)

x, y = wavy.create_panels(df, lookback=5, horizon=1)

# Index
### Index

In [2]:
x[0]

size                           1
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-10 00:00:00
Name: Panel, dtype: object

### Slice

In [3]:
x[0:2]

size                           2
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-11 00:00:00
Name: Panel, dtype: object

### List

In [4]:
x[[0,1,2]]

size                           3
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-12 00:00:00
Name: Panel, dtype: object

# Column

In [5]:
x['High']

size                        4350
timesteps                      1
start        2005-01-10 00:00:00
end          2022-04-20 00:00:00
Name: Panel, dtype: object

In [6]:
x[['High']]

size                        4350
timesteps                      1
start        2005-01-10 00:00:00
end          2022-04-20 00:00:00
Name: Panel, dtype: object

# Tuple

In [7]:
x[0, 'High']

size                           1
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-10 00:00:00
Name: Panel, dtype: object

In [8]:
x[0:2, 'High']

size                           2
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-11 00:00:00
Name: Panel, dtype: object

In [9]:
x[[0, 1, 2], 'High']

size                           3
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-12 00:00:00
Name: Panel, dtype: object

In [10]:
x[0, ['High']]

size                           1
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-10 00:00:00
Name: Panel, dtype: object

In [11]:
x[0:2, ['High']]

size                           2
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-11 00:00:00
Name: Panel, dtype: object

In [12]:
x[[0, 1, 2], ['High']]

size                           3
timesteps                      1
start        2005-01-10 00:00:00
end          2005-01-12 00:00:00
Name: Panel, dtype: object

In [13]:
a = x[0, 'High']
b = x[0, 'High']

In [20]:
a + b

TypeError: unsupported operand type(s) for +: 'Panel' and 'Panel'

[                    High
 Date
 2005-01-04  5.565766e-03
 2005-01-05  3.615323e-07
 2005-01-06 -1.476233e-03
 2005-01-07 -6.282567e-03
 2005-01-10 -1.115437e-03]