In [1]:
import sys
sys.path.append('../')

%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

from sklearn.dummy import DummyRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

import wavy
from wavy.models import compute_default_scores
from wavy.utils import reverse_pct_change
# from wavy.plot import

/Users/ibiscp/GitHub/logspace/wavy/.venv/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0].Symbol

In [4]:
msft = yf.Ticker("MSFT")

In [5]:
# get historical market data from 2005 on
hist = msft.history(period="max", start="2005-01-01")

In [6]:
# Get last 6 days of data
hist = hist.iloc[-6:]

In [7]:
hist = hist[['Open', 'High', 'Low', 'Close']]

In [8]:
x, y = wavy.create_panels(hist, lookback=2, horizon=1)

In [19]:
a = x.shiftw()

In [49]:
df = pd.DataFrame()

for i in range(x.shape[1]):
    a = x[i].head(1).copy()
    a['frame'] = x[i].frame_index
    df = pd.concat([df, a])

In [73]:
x.as_dataframe(flatten=True)

,0-Open,0-High,0-Low,0-Close,1-Open,1-High,1-Low,1-Close
2022-05-09,274.809998,279.250000,271.269989,274.730011,270.059998,272.359985,263.320007,264.579987
2022-05-10,270.059998,272.359985,263.320007,264.579987,271.690002,273.750000,265.070007,269.500000
2022-05-11,271.690002,273.750000,265.070007,269.500000,265.679993,271.359985,259.299988,260.549988
2022-05-12,265.679993,271.359985,259.299988,260.549988,257.690002,259.880005,250.020004,255.350006

In [54]:
len(x[0].index)

2

In [63]:
a = list(x[0].columns)

In [65]:
a

['Open', 'High', 'Low', 'Close']

In [70]:
columns

['0-Open',
 '0-High',
 '0-Low',
 '0-Close',
 '1-Open',
 '1-High',
 '1-Low',
 '1-Close']

In [43]:
a = x[0].head(1)
a['frame'] = x[0].frame

AttributeError: 'DataFrame' object has no attribute 'frame'

In [42]:
a

                  Open    High         Low       Close
Date
2022-05-06  274.809998  279.25  271.269989  274.730011

In [25]:
x.as_dataframe()

                  Open        High         Low       Close
Date
2022-05-06  274.809998  279.250000  271.269989  274.730011
2022-05-09  270.059998  272.359985  263.320007  264.579987
2022-05-10  271.690002  273.750000  265.070007  269.500000
2022-05-11  265.679993  271.359985  259.299988  260.549988
2022-05-12  257.690002  259.880005  250.020004  255.350006

In [ ]:
a = pd.DataFrame(x[0])

a.head()

In [23]:
a[0]

            Open  High  Low  Close
Date
2022-05-06   NaN   NaN  NaN    NaN
2022-05-09   NaN   NaN  NaN    NaN

In [16]:
df = x[0].copy()

In [17]:
df

                  Open        High         Low       Close
Date
2022-05-06  274.809998  279.250000  271.269989  274.730011
2022-05-09  270.059998  272.359985  263.320007  264.579987

In [11]:
x.as_dataframe(flatten=True)

,0,1,2,3,4,5,6,7
2022-05-09,274.809998,279.250000,271.269989,274.730011,270.059998,272.359985,263.320007,264.579987
2022-05-10,270.059998,272.359985,263.320007,264.579987,271.690002,273.750000,265.070007,269.500000
2022-05-11,271.690002,273.750000,265.070007,269.500000,265.679993,271.359985,259.299988,260.549988
2022-05-12,265.679993,271.359985,259.299988,260.549988,257.690002,259.880005,250.020004,255.350006

In [13]:
values = np.array([i.values.flatten() for i in x.frames])
values

array([[274.80999756, 279.25      , 271.26998901, 274.73001099,
        270.05999756, 272.35998535, 263.32000732, 264.57998657],
       [270.05999756, 272.35998535, 263.32000732, 264.57998657,
        271.69000244, 273.75      , 265.07000732, 269.5       ],
       [271.69000244, 273.75      , 265.07000732, 269.5       ,
        265.67999268, 271.35998535, 259.29998779, 260.54998779],
       [265.67999268, 271.35998535, 259.29998779, 260.54998779,
        257.69000244, 259.88000488, 250.02000427, 255.3500061 ]])

In [14]:
x.columns

Index(['Open', 'High', 'Low', 'Close'], dtype='object')

In [9]:
x[0]['Open'][0] = np.nan

/var/folders/1h/2q97f2rx4qz77b9l1gp7wvvm0000gn/T/ipykernel_3985/3337415258.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[0]['Open'][0] = np.nan

In [ ]:
x[0]

In [ ]:
x.columns

In [ ]:
x.index

In [ ]:
x.values

In [ ]:
x.timesteps

In [ ]:
x.shape

In [ ]:
x.countna()

In [10]:
a = x.dropna()

/Users/ibiscp/GitHub/logspace/wavy/src/wavy/panel.py:345: UserWarning: Dropped frames have different shape
  warnings.warn("Dropped frames have different shape")

In [ ]:
x[0]

In [ ]:
x.removena()

In [ ]:
x.frames[0]

In [ ]:
from wavy import Panel
import tqdm
import warnings

axis=0
how="any"
thresh=None
subset=None
verbose=False

new_panel = Panel(
    [ frame.dropna(axis=axis, how=how, thresh=thresh, subset=subset)
    for frame in x.frames ])

In [ ]:
different = any(
    new_panel[i].shape != x[i].shape for i in range(len(new_panel))
)

In [ ]:
different

In [ ]:
if different:
        warnings.warn("Dropped frames have different shape")