In [1]:
import numpy as np
import pandas as pd
from wavy import panel2 as panel
import random

# Start with any time series dataframe
size = 100
dic = {'price': np.random.randn(size), 'value': np.random.randn(size)}
df = pd.DataFrame(dic, index=range(size))
df.index.name = 'time'

# Print all rows
pd.set_option('display.max_rows', None)

/Users/ibiscp/GitHub/logspace/wavy/.venv/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
%%time
x, y = panel.create_panels(df, lookback=3, horizon=1, gap=0)

CPU times: user 25.7 ms, sys: 5.41 ms, total: 31.1 ms
Wall time: 28 ms

In [3]:
x.head(20)

            price     value
id time
0  0    -1.107329 -1.041304
   1     1.102899  0.724154
   2    -1.444441 -0.896314
1  1     1.102899  0.724154
   2    -1.444441 -0.896314
   3    -1.621770  2.232860
2  2    -1.444441 -0.896314
   3    -1.621770  2.232860
   4    -0.622673 -0.663467
3  3    -1.621770  2.232860
   4    -0.622673 -0.663467
   5    -0.908965 -0.406269
4  4    -0.622673 -0.663467
   5    -0.908965 -0.406269
   6     0.598865 -0.937262
5  5    -0.908965 -0.406269
   6     0.598865 -0.937262
   7    -0.317877 -0.550194
6  6     0.598865 -0.937262
   7    -0.317877 -0.550194

In [9]:
# x.xs([0,1], level=0, axis=0, drop_level=False)
type(x.loc[(0, slice(None)), :])

pandas.core.frame.DataFrame

In [7]:
x.get_frame_by_id(0).head(20)

         price     value
time
0    -1.107329 -1.041304
1     1.102899  0.724154
2    -1.444441 -0.896314

In [ ]:
ids = list(x.ids)
random.shuffle(ids)

In [ ]:
x.ids = ids

In [ ]:
x.head(10)

In [ ]:
a = x.sort_index(level=0, ascending=False, inplace=True)

In [ ]:
x

In [ ]:
a = x.tail_frame(2)

In [ ]:
a.head(10)

In [ ]:
y.head(10)

In [ ]:
ids = len(y)
ids

In [ ]:
a = y.index.set_levels(ids, level=0)
a

In [ ]:
panel.set_training_split(x, y)

In [ ]:
type(x.test)

In [ ]:
x[0]

In [ ]:
y.head(10)

In [ ]:
type(y)

In [ ]:
y = y.drop_frames(0)
y.head(10)

In [ ]:
x = x.match_frame(y)
x.head(10)

In [ ]:
type(y)

In [ ]:
other_ids = set(y.ids)
this_ids = set(x.ids)

In [ ]:
other_ids

In [ ]:
this_ids

In [ ]:
drop_ids = this_ids - other_ids

In [ ]:
drop_ids

In [ ]:
x.drop_frames(drop_ids)

In [ ]:
other_ids = other.ids
this_ids = set(x.ids)

if [i for i in other_ids if i not in self.ids]:
    raise ValueError("There are elements in other that are not in self.")

ids = {}

panel_ids = panel.ids

indices = [int(np.where(panel_ids == id)[0]) for id in other_ids]

return panel[indices]

In [ ]:
x.pct_change_panel(1).head(10)

In [ ]:
x.head(10)

In [ ]:
a = x.index.get_level_values(0)

b = x.index.get_level_values(1)
b *= 2

In [ ]:
a, b

In [ ]:
index = pd.MultiIndex.from_arrays((a, b), names=['id', 'time'])

In [ ]:
p = index.values

In [ ]:
len(p[-1])

In [ ]:
len(x)

In [ ]:
a.values

In [ ]:
a.values

In [ ]:
a = pd.Series(a.values)
b = pd.Series(b.values)

In [ ]:
x

In [ ]:
x.reset_index(drop=True, inplace=True)

In [ ]:
a

In [ ]:
a

In [ ]:
x.set_index([a, b])

In [ ]:
x.index = index

In [ ]:
x.index

In [ ]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
                   'year': [2012, 2014, 2013, 2014],
                   'sale': [55, 40, 84, 31]})
s = pd.Series([1, 2, 3, 4])

In [ ]:
df.set_index([s, s**2])

In [ ]:
s

In [ ]:
a

In [ ]:
b

In [ ]:
index = x[x.isna().any(axis=1)].index.get_level_values(0).drop_duplicates()
index

In [ ]:
x[~x.index.get_level_values(0).isin(index)]

In [ ]:
x.groupby(level=0).tail(1).index.get_level_values(1)

In [ ]:
x.groupby(level=0).tail(1)

In [ ]:
a = x.groupby(level=0).tail(1).copy()
a

In [ ]:
b = a.index
b

In [ ]:
a.index.levels[1]

In [ ]:
[i[1] for i in x.groupby(level=0).head(1).index]

In [ ]:
x.first_index

In [ ]:
a = x.to_numpy()
a
# result = df.values.reshape((dim1, dim1, df.shape[1]))

In [ ]:
(len(x.ids), int(x.shape[0] / len(x.ids)), x.shape[1])

In [ ]:
result = np.reshape(x.to_numpy(), (2, 3, df.shape[1]))

In [ ]:
result

In [ ]:
x.groupby(level=0).tail(1).xs(level=1)

In [ ]:
x

In [ ]:
a = x.groupby(level=0).tail(1)

In [ ]:
a.index.levels

In [ ]:
a.index.levels[0]

In [ ]:
a.index.levels[1]

In [ ]:
x.index.get_level_values('time')

In [ ]:
x.index = x.index.set_levels(ids, level=0)

In [ ]:
x

In [ ]:
x.ids = ids

In [ ]:
x.train_size

In [ ]:
x[x.index.levels[0] == 0]

In [ ]:
df.index = df.index.set_levels([id.levels[0].astype(int), id.levels[1:]])

In [ ]:
x.index.levels[0].astype(int)

In [ ]:
x.columns

In [ ]:
x.columns = ['ibis', 'ibis2']

In [ ]:
x

In [ ]:
df.shape

In [ ]:
frames = []

lookback = 10
horizon = 5
gap = 0

x_timesteps = len(df.index)
end = x_timesteps - horizon - gap + 1
ids = np.arange(lookback, end)

xframes = np.zeros(shape=(len(ids)*lookback, df.shape[1]))
xindex = np.zeros(shape=(2, len(ids)*lookback))
for i in ids:
    frame = df.iloc[i - lookback : i]
    xframes[(i - lookback) * lookback : (i - lookback + 1) * lookback, :] = frame.values
    xindex[:, (i - lookback) * lookback : (i - lookback + 1) * lookback] = np.vstack(((i - lookback) * np.ones(lookback),frame.index.values))

In [ ]:
(i - lookback) * np.ones(lookback, dtype=np.int8)

In [ ]:
type(xindex)

In [ ]:
index=pd.MultiIndex.from_arrays(xindex, names=["Id1", "Id2"])

In [ ]:
panel = pd.DataFrame(xframes, columns=df.columns, index=pd.MultiIndex.from_arrays(xindex, names=["Id1", "Id2"]))

In [ ]:
panel.

In [ ]:
panel

In [ ]:
panel.head(20)

In [ ]:
import wavy