In [1]:
import os
import datetime

import IPython
import IPython.display

import numpy as np
import pandas as pd
import tensorflow as tf

import sys
sys.path.append('../src/')

%load_ext autoreload
%autoreload 2

In [2]:
zip_path = tf.keras.utils.get_file(
    origin='https://storage.googleapis.com/tensorflow/tf-keras-datasets/jena_climate_2009_2016.csv.zip',
    fname='jena_climate_2009_2016.csv.zip',
    extract=True)

csv_path, _ = os.path.splitext(zip_path)

In [3]:
df = pd.read_csv(csv_path)
# Slice [start:stop:step], starting from index 5 take every 6th record.
df = df[5::6]

date_time = pd.to_datetime(df.pop('Date Time'), format='%d.%m.%Y %H:%M:%S')

In [4]:
df.head()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
5,996.50,-8.05,265.38,-8.78,94.4,3.33,3.14,0.19,1.96,3.15,1307.86,0.21,0.63,192.7
11,996.62,-8.88,264.54,-9.77,93.2,3.12,2.90,0.21,1.81,2.91,1312.25,0.25,0.63,190.3
17,996.84,-8.81,264.59,-9.66,93.5,3.13,2.93,0.20,1.83,2.94,1312.18,0.18,0.63,167.2
23,996.99,-9.05,264.34,-10.02,92.6,3.07,2.85,0.23,1.78,2.85,1313.61,0.10,0.38,240.0
29,997.46,-9.63,263.72,-10.65,92.2,2.94,2.71,0.23,1.69,2.71,1317.19,0.40,0.88,157.0

In [5]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
p (mbar),70091.0,989.212842,8.358886,913.60,984.20,989.57,994.720,1015.29
T (degC),70091.0,9.450482,8.423384,-22.76,3.35,9.41,15.480,37.28
Tpot (K),70091.0,283.493086,8.504424,250.85,277.44,283.46,289.530,311.21
Tdew (degC),70091.0,4.956471,6.730081,-24.80,0.24,5.21,10.080,23.06
rh (%),70091.0,76.009788,16.474920,13.88,65.21,79.30,89.400,100.00
VPmax (mbar),70091.0,13.576576,7.739883,0.97,7.77,11.82,17.610,63.77
VPact (mbar),70091.0,9.533968,4.183658,0.81,6.22,8.86,12.360,28.25
VPdef (mbar),70091.0,4.042536,4.898549,0.00,0.87,2.19,5.300,46.01
sh (g/kg),70091.0,6.022560,2.655812,0.51,3.92,5.59,7.800,18.07
H2OC (mmol/mol),70091.0,9.640437,4.234862,0.81,6.29,8.96,12.490,28.74
rho (g/m**3),70091.0,1216.061232,39.974263,1059.45,1187.47,1213.80,1242.765,1393.54
wv (m/s),70091.0,1.702567,65.447512,-9999.00,0.99,1.76,2.860,14.01
max. wv (m/s),70091.0,2.963041,75.597657,-9999.00,1.76,2.98,4.740,23.50
wd (deg),70091.0,174.789095,86.619431,0.00,125.30,198.10,234.000,360.00

In [6]:
wv = df['wv (m/s)']
bad_wv = wv == -9999.0
wv[bad_wv] = 0.0

max_wv = df['max. wv (m/s)']
bad_max_wv = max_wv == -9999.0
max_wv[bad_max_wv] = 0.0

# The above inplace edits are reflected in the DataFrame.
df['wv (m/s)'].min()

0.0

In [7]:
wv = df.pop('wv (m/s)')
max_wv = df.pop('max. wv (m/s)')

# Convert to radians.
wd_rad = df.pop('wd (deg)')*np.pi / 180

# Calculate the wind x and y components.
df['Wx'] = wv*np.cos(wd_rad)
df['Wy'] = wv*np.sin(wd_rad)

# Calculate the max wind x and y components.
df['max Wx'] = max_wv*np.cos(wd_rad)
df['max Wy'] = max_wv*np.sin(wd_rad)

In [8]:
timestamp_s = date_time.map(pd.Timestamp.timestamp)

In [9]:
day = 24*60*60
year = (365.2425)*day

df['Day sin'] = np.sin(timestamp_s * (2 * np.pi / day))
df['Day cos'] = np.cos(timestamp_s * (2 * np.pi / day))
df['Year sin'] = np.sin(timestamp_s * (2 * np.pi / year))
df['Year cos'] = np.cos(timestamp_s * (2 * np.pi / year))

In [10]:
fft = tf.signal.rfft(df['T (degC)'])
f_per_dataset = np.arange(0, len(fft))

n_samples_h = len(df['T (degC)'])
hours_per_year = 24*365.2524
years_per_dataset = n_samples_h/(hours_per_year)

f_per_year = f_per_dataset/years_per_dataset

In [11]:
column_indices = {name: i for i, name in enumerate(df.columns)}

n = len(df)
train_df = df[0:int(n*0.7)]
val_df = df[int(n*0.7):int(n*0.9)]
test_df = df[int(n*0.9):]

num_features = df.shape[1]

In [12]:
train_mean = train_df.mean()
train_std = train_df.std()

train_df = (train_df - train_mean) / train_std
val_df = (val_df - train_mean) / train_std
test_df = (test_df - train_mean) / train_std

In [13]:
df_std = (df - train_mean) / train_std
df_std = df_std.melt(var_name='Column', value_name='Normalized')

In [14]:
data = train_df.append(val_df).append(test_df)

/var/folders/wq/x42bvx051z150nzjrrzlcm2m0000gn/T/ipykernel_14740/3183437202.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = train_df.append(val_df).append(test_df)

In [15]:
import wavy

t = data[['T (degC)']]
x, y = wavy.create_panels(t, lookback=1, horizon=1)

/Users/rodrigonader/anaconda3/envs/tf/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [17]:
x.ids()

AttributeError: 'DataFrame' object has no attribute 'ids'

In [ ]:
t['T (degC)'].corr(t['T (degC)'].shift(4))

In [ ]:
x.set_training_split(test_size=0.1, val_split=0.225)
y.set_training_split(test_size=0.1, val_split=0.225)

In [ ]:
x.ids

In [ ]:
baseline_ = wavy.BaselineShift(x, y, model_type='regression')
baseline_.fit()

In [ ]:
lr = wavy.LinearRegression(x, y)
lr.fit(epochs=10)

In [ ]:
dense = wavy.DenseModel(x, y, model_type='regression')
dense.fit(epochs=10)

In [ ]:
tot = len(train_df) + len(test_df) + len(val_df)
tot

In [ ]:
tot2 = len(x)
tot2

In [ ]:
tot3 = len(x.val) + len(x.test) + len(x.train)
tot3

In [ ]:
print(f'{len(train_df)} {len(x.train)}')
print(f'{len(test_df)} {len(x.test)}')
print(f'{len(val_df)} {len(x.val)}')

In [ ]:
len(x.val)/tot3

In [ ]:
len(x.test)/tot3

In [ ]:
len(x.train)/tot3

In [ ]:
x.set_training_split()